<ion-header>
    <div class="paddingfix">
        <ion-navbar>
            <ion-title>{{ 'RESET_PASSWORD' | translate}}</ion-title>
        </ion-navbar>
    </div> 
</ion-header>
<ion-content no-bounce class="account-contain">
    <ion-grid no-padding>
        <form class="forgetPWD-form-container" [formGroup]="forgetPWDForm" (ngSubmit)="forgetPWD()" novalidate>
            <ion-row class="bottom-line">
                <ion-col padding >
                        <ion-item class="item-vertical-center">
                                <ion-input formControlName="customerId" class="account" placeholder="{{'MOBILE_PHONE_NUMBER_EMAIL'|translate}}" (blur)='checkRegister()'></ion-input>
                        </ion-item> 
                </ion-col>
                <div item-right class="error-tip" *ngIf="!customerId_existence"> 
                    {{'ACCOUNT_DOESNOT'|translate}}
                </div>
            </ion-row>
            <ion-row class="bottom-line">
                <ion-col padding class="vertical-center i-col">
                    <ion-input formControlName="vcode" class="number" placeholder="{{'VERIFICATION_CODE'|translate}}">
                    </ion-input>
                    <button item-right type="button" style="z-index:9999" class="send-vcode" [disabled]=" !code_btn_switch || !customerId_existence || ( !!sending_vcode||!!resend_time_clock) " (click)="forgetPWD_step1()">
                          {{(sending_vcode?'SENDING':(resend_time_clock?(resend_time_clock+'s'):'GAIN_VERIFICATION_CODE'))  | translate}}</button>
                </ion-col>
            </ion-row>
            <ion-row class="bottom-line">
                <ion-col padding class="vertical-center">
                    <ion-input formControlName="password" class="password" type="password" placeholder="{{'LOGIN_PASSWORD'|translate}}" (input)="validatePWD()">
                    </ion-input>
                </ion-col>
                <div item-right class="error-tip" *ngIf="form_password.errors?.minlength">
                    {{'PASSWORD_AT_LEAST_3_DIGITS'|translate}}
                </div>
                <div item-right class="error-tip" *ngIf="!form_password.errors?.minlength && form_password.errors?.strengthError">
                    {{'PASSWORD_STRENGTH_DISCREPANCY'|translate}}
                </div>
            </ion-row>
            <ion-row class="bottom-line">
                <ion-col padding class="vertical-center">
                    <ion-input formControlName="confirPassword" class="password" type="password" placeholder="{{'CONFIRM_PASSWORD'|translate}}" (input)="validatePWD()">
                    </ion-input>
                </ion-col>
                <div item-right class="error-tip" *ngIf="form_password?.value && form_confirPassword?.value  &&  pwdAgreementPass">
                    {{'TWO_PASSWORDS_ARE_NOT_IDENTICAL'|translate}}
                </div>
            </ion-row>
           <ion-row   class="pwd-strength">
                <div>
                   {{'NEW_PASSWORD_PROMPT'|translate}}
                </div>
           </ion-row>
            
                
           
            <ion-row tappable class="account-exit" style="background:none">
                <ion-col padding class="exit-center">
                    <button ion-button class="trbtn forgetPWD-form-submit" type="submit" [disabled]="forgetPWDForm.invalid || !appDataService.ready || forgetPWDing || pwdAgreementPass">
                        {{'CONFIRM'|translate}}
                      </button>
                </ion-col>
            </ion-row>
        </form>
    </ion-grid>
</ion-content>