page-trade-interface {
	.scroll-content {
		// display: flex;
		// flex-direction: column;
	}

	.flash-trade{
		background-image: url('../assets/icon/flash.png');
		background-size: contain;
		height: 2rem;
		width: 2rem;
	}

	ion-range{
		position: relative;
		top:-1.2rem;
	}

	.range-slider .range-bar:first-child{
		border-radius: 2.5px;
		border: 1px solid #c1b17f;
		background: transparent;
	}
	
	.content-block{
		background-color: #262739;
		padding: .6rem 0 1rem;
	}

	ion-content{
		.trtop{
			// flex-grow: 1;
			// flex-shrink: 0;
			height: 13rem;

			.liquid-container {
				// height: 13rem;
				padding-top: 0;
				padding-bottom: 0;
			}

			ion-row{
				ion-col{
					ion-grid{
						padding:3rem 0 0 0;
						h1{
							margin:0;
							font-size: 4rem;
						}
						[col-4]{
							padding-top: 1.3rem;
							ion-icon{
								font-size:1.6rem;
								padding:-0.3rem 0.3rem 0 0;
							}
						}
					}
					
					.echarts-placeholder{
						height:12rem;
					}
				}
			}
		}

		.entrust-type{
			background-color: #262739;
			color: #6d6d6d;
			text-align: center;
			vertical-align: middle;
			height: 3.9rem;
			margin:0 0 .5rem;
			ion-col{
				line-height: 3.9rem;
				font-size: 1.5rem;	
				padding: 0;
				
				&.enabled{
					background-color: #222333;
					color: color($colors,special);
				}
			}
		}

		.trinp{
			// flex-grow: 1;
			// flex-shrink: 0;
			text-align: center;
			// margin-top: 0.5rem;

			.fee{
				color: #6d6d6d;
				height: 1.2rem;
				font-size: 1.2rem;
				line-height: 1.2rem;
				margin-bottom: .4rem;

				ion-icon{
					margin:0 .5rem 0 1.6rem;
				}
			}

			.input-row{
				width:67%;
				height: 4.2rem;
				border-radius: 4.2rem;
				background-color: #242435;
				margin: 1.2rem auto;
			}

			// ion-row{
				// height: 3rem;

				ion-col{
					font-size: 3rem;
					padding: 0;
					ion-icon{
						margin-top:-0.3rem;
					}
					ion-input{
						margin-top: -0.2rem;
						input{
							margin: 0;
							text-align: center;
							font-size: 2.4rem;
							//placeholder设置
							&::-webkit-input-placeholder { /* WebKit browsers */ 
								font-size: 2rem;
							} 
							&:-moz-placeholder { /* Mozilla Firefox 4 to 18 */ 
								font-size: 2rem;								 
							} 
							&::-moz-placeholder { /* Mozilla Firefox 19+ */ 
								font-size: 2rem;								 
							} 
							&:-ms-input-placeholder { /* Internet Explorer 10+ */ 
								font-size: 2rem;								 
							} 
						}
					}
				}
			// }
		}
		.trbtn{
			height: 4.5rem;
			padding:1.2rem 0;
			margin: 0 auto;
			border-radius: .4rem;
			text-align: center;
			width:90%;
			font-size: 1.3rem;
			color:color($colors, primary);
			background:color($colors, special);
			font-family:Microsoft YaHei;
			
			&[disabled]{
				background:#c9c9c9;
			}		
		}

		.trbom{
			display: flex;
			flex-grow: 0;
			flex-shrink: 0;
			margin-top: 1rem;
			height: 25.2rem;

			.charts {
				overflow: hidden;
				flex-grow: 1;
				position: relative;

				.echarts-placeholder {
					// position: absolute;
					// top: 0;
					// bottom: 0;
					// left: 0;
					// right: 0;
					// height: 98%;
					height:25rem;
					// position: relative;
					// top: 10%;
				}
			}

			.bets {
				// flex-grow: 0;
				width: 10em;
				float: right;

				font-size: 1.125rem;
				line-height: 2.2rem;

				&-row {
					white-space: nowrap;
					height: 2.2rem;

					&.sep {
						margin-top: 2.2rem;
					}

					span {
						display: inline-block;
						box-sizing: content-box;
						padding: 0x;
						overflow: hidden;
						text-align: right;

						&:first-child {
							width: 2em;
							text-align: left;
							padding-left: 0.5em;
						}
						&:nth-child(2) {
							width: 3em;
						}
						&:nth-child(3) {
							width: 3.5em;
							padding-right: 0.5em;
						}
					}
				}
			}
		}
	}

}
