<ion-header class="color-primary home-header animation-header">
	<ion-navbar>
		<ion-title>委托订单</ion-title>
	</ion-navbar>
	<!-- <div class="hdbg header-with-bg">
		<ion-navbar>
			<ion-title>历史成交记录</ion-title>
		</ion-navbar>
		<div class="histime">
			<ion-item>
				<ion-datetime cancelText="取消" doneText="确定" placeholder="2015-01-04" displayFormat="YYYY-MM-DD" [(ngModel)]="myDate">2015-01-04</ion-datetime>
			</ion-item>
			<ion-icon name="swap" ios color="#fff" class="vertical-center"></ion-icon>
			<ion-item>
				<ion-datetime cancelText="取消" doneText="确定" placeholder="2015-07-04" displayFormat="YYYY-MM-DD" [(ngModel)]="myDates"></ion-datetime>
			</ion-item>
		</div>
		<smoothline-component [echartsData]="smoothlinedata"></smoothline-component>
	</div> -->
	<div class="comsub-box">
		<div class="comsub">
				<ion-row center text-center>
					<!-- <ion-col>{{'HISTORY_TIME'|translate}}</ion-col>
					<ion-col>{{'HISTORY_PRICE'|translate}}</ion-col>
					<ion-col>{{'HISTORY_VOLUME'|translate}}</ion-col>
					<ion-col>{{'HISTORY_AMOUNT'|translate}}</ion-col> -->
					<ion-col *ngFor='let item of entrusts_type' 
						(click)="getHistoryStatus(item.active)"  
						[class.active]='headerActive == item.active'>
						{{item.type}}
					</ion-col>
				</ion-row>
			</div>
	</div>
</ion-header>
<ion-content no-bounce class="bg-darker">
	<!-- <div class="bg-blue"></div> -->
	<!--<loop-slides-component></loop-slides-component>-->
	<!-- <div class="spanfixed"></div> -->
	<!-- <loop-slides-beta></loop-slides-beta> -->
	<!-- <div class="footer-data">03/12</div> -->
	<!--下拉刷新-->
	<!-- <ion-refresher (ionRefresh)="initData($event)" *ngIf="refresherEnabled">
		<ion-refresher-content refreshingText="{{'UPDATING'|translate}}...">
		</ion-refresher-content>
	</ion-refresher> -->
	<ion-slides #Slides (ionSlideDrag)="slideDrag($event)" (ionSlideDidChange)="slideDidChange($event)">
		<ion-slide  *ngFor="let type_item of entrusts_type">
			<ion-content>
				<div class="no-entrust" *ngIf="!type_item.entrust || type_item.entrust.length == 0">
					<div class="no-entrust-logo">
						<img src="assets/icon/no-entrust.png" alt="">
					</div>
					<div  class="no-entrust-text">
						暂无委托
					</div>
				</div>
				<div *ngFor="let item of type_item.entrust">
					<div class="entrust">
						<div class="header">
							<div class="type" [class.color-true]="appDataService?.risefallColor" [class.buy]="item.operationType == '001'" [class.sale]="item.operationType == '002'">
								{{(item.operationType == '001'? 'BUY': item.operationType == '002'? 'SELL':'' )|translate}}
							</div>
							<div class="date-box">
								<div class="title">
									<div class="productName">
										{{item.productHouseId ? (item.productHouseId | productId2name | async) +  ' / ' :'--'}}
									</div>
									<div class="priceName">
										{{item.priceProductHouseId?(item.priceProductHouseId | productId2name | async):'--'}}
									</div>
								</div>
								<div class="date">{{item.createdTime | date:'yyyy-MM-dd HH:mm:ss'}}</div>
							</div>
							<button (click)="confirmCancel(item.id,item.createdTime,item.operationType)" *ngIf='item.entrustStatus == "001" || item.entrustStatus == "002"'>{{'REVOKE'|translate}}</button>
							<button class="no-btn" *ngIf='item.entrustStatus == "003"'>已成交</button>
							<button class="no-btn" *ngIf='item.entrustStatus == "004"'>已撤单</button>
						</div>
						<div class="params" >
							<div class="col">
								<div *ngIf="!item?.isMarketOrder">
									<span class="value">{{item.completePrice}}</span>
									<span class="name">{{'DELEGATED_PRICE'|translate}}</span>
								</div>
								<div *ngIf="item?.isMarketOrder">
									<span class="kj-name">{{'QUICK_TRANSACTION'|translate}}</span>
								</div>
							</div>
							<div class="col">
								<div *ngIf="!item?.isMarketOrder">
									<span class="value">{{item.completeAmount |quantityConversion}}</span>
									<span class="name">{{'DELEGATED_QUANTITY'|translate}}</span>
								</div>
								<div *ngIf="item?.isMarketOrder">
									<span class="value">{{(item.operationType == '001'? item.entrustTotalPrice: item.operationType == '002'? item.entrustAmount:'' )|quantityConversion}}</span>
									<span class="name">{{(item.operationType == '001'? '委托金额': item.operationType == '002'? '委托数量':'' )|translate}}</span>
								</div>
							</div>
							<div class="col">
								<div *ngIf="!item?.isMarketOrder">
									<span class="value">{{item.surplusAmount |quantityConversion}}</span>
									<span class="name">{{'BALANCE_QUANTITY'|translate}}</span>
								</div>
								<div *ngIf="item?.isMarketOrder">
									<!-- TODO：快捷买卖剩余的字段使用了同一个，之后分开 -->
									<span class="value">{{(item.operationType == '001'? item.surplusTotalPrice: item.operationType == '002'? item.surplusTotalPrice:'' ) |quantityConversion}}</span>
									<span class="name">{{(item.operationType == '001'? '剩余金额': item.operationType == '002'? '剩余数量':'' )|translate}}</span>
								</div>
							</div>
						</div>
					</div> 
				</div>
				<div>
					<div class="entrust no-more" *ngIf=" type_item.entrust && type_item.entrust.length > 0 && !type_item.has_more">
						<div class="entrust-no-more"> <span></span> 无更多委托订单 <span></span> </div>
					</div> 
				</div>
				<!--加载更多-->
				<ion-infinite-scroll [enabled]="type_item.has_more" (ionInfinite)="loadMoreHistory($event)">
					<ion-infinite-scroll-content>
					</ion-infinite-scroll-content>
				</ion-infinite-scroll>
			</ion-content>
		</ion-slide>
	</ion-slides>
</ion-content>