<ion-header class="animation-header"> 
	<ion-navbar>
		<ion-item class="button-space">
			<ion-select #selectTrader [(ngModel)]="traderId" (ngModelChange)='changeTrader($event)' placeholder="---/---" interface="popover" style="width:initial"
			(click)="showSelectTrades()"  [selectOptions]="{cssClass:'hidden-select'}"
			>
				<ion-option *ngFor="let trader of traderList" [value]="trader.traderId">
					{{trader.traderName}}
				</ion-option>
			</ion-select>
		</ion-item>
		<ion-buttons class="trade-button-type-{{appDataService?.trade_type?1:2}}" right>
			<button ion-button ion-only (click)='changeTradeType($event)' >
			</button>
		</ion-buttons>
		<ion-buttons class="trade-button-chart" left *ngIf="appDataService.kLine">
				<button ion-button ion-only (click)='gotoChart($event)' >
				</button>
			</ion-buttons>
		<!-- <ion-buttons class="chart-button" right> -->
			<!-- <button ion-button ion-only (click)="switchOrientation(false)">

			</button> -->
			<!-- <button ion-button ion-only (click)='gotoChart($event)' > -->
			<!-- </button> -->
			<!-- <ion-icon class="sresize" (click)="switchOrientation(false)"></ion-icon> -->
		<!-- </ion-buttons> -->
		<!-- <ion-buttons class="flash-trade" right> -->
			<!-- <button ion-button ion-only (click)="confirmChangeTradingMode($event)"> -->
			<!-- </button> -->
		<!-- </ion-buttons> -->
	</ion-navbar>
	<!-- <div class="position">
		<div class="trader">
			<div>
				<span class="label">{{'AVAILABLE'|translate}}{{productName || '--'}}&nbsp;</span>
				<span>{{appDataService?.hiddentext || (trader_product?.restQuantity || '--' | quantityConversion  | numberUnitFormat:true:false:8)}}</span>
			</div>
			<div> 
				<span class="label">{{'AVAILABLE'|translate}}{{priceName || '--'}}&nbsp;</span>
				<span>{{appDataService?.hiddentext || (trader_target?.restQuantity || '--' | quantityConversion | numberUnitFormat:true:false:8)}}</span>
			</div>
		</div>
		<div>
			<div class="label">{{'TOTAL_ASSETS'|translate}}({{personalAssets?.asset?.priceName || '--'}})</div>
			<div>{{appDataService?.hiddentext || (personalAssets?.asset?.total || '--' | quantityConversion | numberUnitFormat:true:false:12)}}</div>
			<div class="visible" [class.on]="!appDataService?.hiddentext" [class.off]="!!appDataService?.hiddentext" (click)="toggleVisible($event)"></div>
		</div>
	</div> -->
</ion-header>

<ion-content no-bounce class="home-contain" id="scroll-content-nonepadding" [class.bg-blur]='!!selectTradesModal'>
	<!--下拉刷新-->
	<ion-refresher (ionRefresh)="refreshPersonalData($event)">
		<ion-refresher-content refreshingText="{{'RENEWING'|translate}}...">
		</ion-refresher-content>
	</ion-refresher>
		<div  [hidden]="!appDataService?.trade_type">
				<div class="market">
						<div class="market-head">
							<!-- <div>
								<div class="market-items">
									<span class="market-label">{{'HIGH'|translate}}</span>
									<span>{{(_baseData$ | async)?.max | priceConversion:6 | numberFilter:true}}</span>
								</div>
								<div class="market-items">
									<span class="market-label">{{'LOW'|translate}}</span>
									<span>{{(_baseData$ | async)?.min | priceConversion:6 | numberFilter:true}}</span>
								</div>
							</div> -->
							<div class="price {{(_baseData$ | async)?.range | riseOrFall}}{{!appDataService?.risefallColor?'-true':''}}" (click)="setPrice(marketPrice)">
								{{(_baseData$ | async)?.price | numberFilter:false | priceConversion:8:pricePrecision}}
								<span><i class="picasso-icon-about"></i> {{currencyPrice | numberFilter:false | priceConversion:2:2 }} <span class="unit">{{appDataService.CURRENCY_INFO?.currencyTo}}</span></span>
								<div class="range">{{(_baseData$ | async)?.range | positiveSign:false}} <span>%</span></div>
							</div>
							<!-- <div>
								<div class="market-items right">
									<span class="{{(_baseData$ | async)?.range | riseOrFall}}">{{(_baseData$ | async)?.range | percent:'1.0-2' | positiveSign}}</span>
									<span class="market-label">{{'RANGE'|translate}}</span>
								</div>
								<div class="market-items right">
									<span>{{(_baseData$ | async)?.todayAmount | quantityConversion | numberUnitFormat:true:true:6}}</span>
									<span class="market-label">{{'VOL'|translate}}</span>
								</div>
							</div> -->
						</div>
						<div class="market-body">
				
							<!-- <div class="bets">
								<div *ngFor="let data of _depth$ | async as depths ; let i = index;" class="bets-row {{i<=depths.length/2? 'sale': 'buy'}}"
								 [hidden]="!(i<depths.length/2)" tappable (click)="setPrice(data?.price)">
									<div *ngIf="i<depths.length/2" class="sale">
										<span class="bets-title">{{appSettings.betsTitle[i]}}</span>
										<span class="bets-amount">{{data?.price | priceConversion | numberFilter:true:false:6}}</span>
										<span class="bets-quantity">{{data?.amount | quantityConversion | numberUnitFormat}}</span>
									</div>
								</div>
							</div>
							<div class="bets">
								<div *ngFor="let data of _depth$ | async as depths ; let i = index;" class="bets-row {{i<=depths.length/2? 'sale': 'buy'}}"
								 [hidden]="!!(i<depths.length/2)" tappable (click)="setPrice(data?.price)">
									<div *ngIf="!(i<depths.length/2)" class="buy">
										<span class="bets-title">{{appSettings.betsTitle[i]}}</span>
										<span class="bets-amount">{{data?.price | priceConversion | numberFilter:true:false:6}}</span>
										<span class="bets-quantity">{{data?.amount | quantityConversion | numberUnitFormat}}</span>
									</div>
								</div>
							</div>
							<div style="clear:both"></div> -->
							<div class="bet-bottom-shadow"></div>
							<div class="bets-group">
								<div class="bet bet-left" tappable>
									<!-- <div class="bet-label tip" [class.size-1rem]="size_1rem">挡位</div> -->
										<div class="bet-price  depth-div" [class.size-1rem]="size_1rem">价格</div>
										<div class="bet-amount tip" [class.size-1rem]="size_1rem">数量</div>
									</div>
								<div *ngFor="let item of buyer ; let i = index;" class="bet" tappable (click)="setPrice(buy_depth[i]?.price)"> 
									<!-- <div class="bet-label " [class.size-1rem]="size_1rem">{{item}}</div> -->
									<div class="bet-price buy depth-div" [class.color-true]="appDataService?.risefallColor" [class.size-1rem]="size_1rem">{{buy_depth[i]?.price || '--' | numberUnitFormat:true:false:8 | priceConversion:8:pricePrecision}}</div>
									<div class="bet-amount" [class.size-1rem]="size_1rem">{{buy_depth[i]?.amount || '--' | quantityConversion:8 | numberUnitFormat:false:true:8:8 | priceConversion:8:amountPrecision | unitConversion}}</div>
								</div>
							</div>
							<div class="bets-group">
								<div class="bet bet-left" tappable>
								   <!-- <div class="bet-label tip" [class.size-1rem]="size_1rem">挡位</div> -->
									   <div class="bet-price depth-div" [class.size-1rem]="size_1rem">价格</div>
									   <div class="bet-amount tip" [class.size-1rem]="size_1rem">数量</div>
								   </div>
								<div *ngFor="let item of saler ; let i = index;" class="bet" tappable (click)="setPrice(sale_depth[i]?.price)">
									<!-- <div class="bet-label " [class.size-1rem]="size_1rem">{{item}}</div> -->
									<div class="bet-price sale depth-div" [class.color-true]="appDataService?.risefallColor" [class.size-1rem]="size_1rem">{{sale_depth[i]?.price || '--' | numberUnitFormat:true:false:8 | priceConversion:8:pricePrecision}}</div>
									<div class="bet-amount" [class.size-1rem]="size_1rem">{{sale_depth[i]?.amount || '--' | quantityConversion | numberUnitFormat:false:true:8:8 | priceConversion:8:amountPrecision | unitConversion }}</div>
								</div>
							</div>
							
							
						</div>
					</div>
					<!-- FIXME ：此页面使用了弹性布局，用于调整主要几个区域元素的高度， -->
					<!-- 以便适应不同宽高比的手机，让实时图保证显示在第一屏之内，并且内容撑满屏幕。 -->
					<!-- 但是在软键盘弹出时，会因为页面高度被调整而造成弹性高度消失， -->
					<!-- 页面区域因为高度变化出现跳跃感，需考虑在页面渲染完成后固定相关元素的高度！ -->
					<!-- 可参照登录页纵向居中的处理方式。 -->
					<ion-grid *ngIf="false"><!-- class="trtop" -->
						<ion-row>
							<ion-col col-6>
								<div class="price {{(_baseData$ | async)?.range | riseOrFall}}">
									<!-- 4.0675 -->
									{{(_baseData$ | async)?.price | priceConversion:8 | numberFilter}}
									<!-- <span class="datetime-info">{{(_baseData$ | async)?.datetime}}</span> -->
								</div>
							</ion-col>
							<!-- <ion-col col-2 class="small-font">
									<div class="{{(_baseData$ | async)?.changeValue | riseOrFall}}">{{(_baseData$ | async)?.changeValue | number:'.2-2' | positiveSign}}</div>
									<div class="{{(_baseData$ | async)?.changeValue | riseOrFall}}">{{(_baseData$ | async)?.changeRate | percent:'.2-2' | positiveSign}}</div>
								</ion-col> -->
							<ion-col col-3>
								<div>
									<label>{{'RANGE'|translate}}</label>
									<!-- <span>+23%</span> -->
									<span class="{{(_baseData$ | async)?.range | riseOrFall}}">{{(_baseData$ | async)?.range | percent:'1.0-2'}}</span>
								</div>
				
								<div>
									<label>{{'VOL'|translate}}</label>
									<!-- <span>35.2314</span> -->
									<span>{{(_baseData$ | async)?.amount | quantityConversion | numberUnitFormat:true:true:6}}</span>
								</div>
							</ion-col>
							<ion-col col-3>
								<div>
									<label>{{'HIGH'|translate}}</label>
									<!-- <span>4.23113</span> -->
									<span>{{(_baseData$ | async)?.max | priceConversion:8 | numberFilter:true}}</span>
								</div>
								<div>
									<label>{{'LOW'|translate}}</label>
									<!-- <span>3.54521</span> -->
									<span>{{(_baseData$ | async)?.min | priceConversion:8 | numberFilter:true}}</span>
								</div>
							</ion-col>	
						</ion-row> 
					</ion-grid>
					<!-- 限价交易 -->
					<ion-grid [hidden]="appDataService.show_onestep_trade" id="scroll-dom">
						<ion-row class="entrust-type" (click)="chooseTradeType($event)">
							<ion-col data-trade-type="1" class="buy" [class.enabled]="!!(tradeType$|async)" [class.color-true]="appDataService?.risefallColor">{{'BUY'|translate}}</ion-col>
							<ion-col data-trade-type="0" class="sale" [class.enabled]="!(tradeType$|async)" [class.color-true]="appDataService?.risefallColor">{{'SELL'|translate}}</ion-col>
						</ion-row>
					</ion-grid>	
					<ion-grid class="price-type">
						<ion-row>
							<ion-col>
								<div class="price-text" (click)="changePriceType()">限价</div>
							</ion-col>
						</ion-row>
					</ion-grid>	
					<ion-grid [hidden]="appDataService.show_onestep_trade" class="trinp  content-block">
						<!-- <ion-row class="fee">
							<ion-icon ios="ios-alert-outline" md="ios-alert-outline"></ion-icon>
							{{'FEE_RATE_STANDARDS'|translate}}:{{fee}}
						</ion-row> -->
						<ion-row class="input-row">
							<ion-col col-2 tappable (click)="changeByStep('price','-')" class="add-sub">-</ion-col>
								<!-- <ion-col col-1>
									<ion-icon name="ios-gprice" class="vertical-center"></ion-icon>
								</ion-col> -->
							<ion-col col-8>
									<ion-item class="item-background-color">
										<ion-input #priceInputer type="number" placeholder="委托价格{{inputProductName?'('+inputProductName+')':''}}"
										[(ngModel)]="price"
										(ngModelChange)="formatNumber('price',-8)"
										(focus)="scrollFixInput()"
										></ion-input>
								</ion-item>
							</ion-col>
							<ion-col col-2 tappable (click)="changeByStep('price','+')" class="add-sub">+</ion-col>
						</ion-row>
						<ion-row class="input-row" align-items-center>
							<ion-col col-2 tappable (click)="changeByStep('amount','-')" class="add-sub">-</ion-col>
							<!-- <ion-col col-1>
								<ion-icon name="ios-gamount" class="vertical-center"></ion-icon>
							</ion-col> -->
							<ion-col col-8>
									<ion-item class="item-background-color"> 
										<ion-input #amountInputer type="number" placeholder="委托数量{{inputProductName?'('+inputProductName+')':''}}"
										 [(ngModel)]="amount" (ngModelChange)="formatNumber('amount')"
										 (focus)="scrollFixInput()"
										 ></ion-input>
									</ion-item>
							</ion-col>
							<ion-col col-2 tappable (click)="changeByStep('amount','+')" class="add-sub">+</ion-col>
						</ion-row>
						<ion-row class="input-row" align-items-center>
							<ion-col>
									<ion-item class="item-background-color"> 
										<ion-input #amountInputer type="text" placeholder="交易额{{priceName?'('+priceName+')':''}}"
											disabled
											[(ngModel)]="tradeValue"
										  (ngModelChange)="formatNumber('amount')"
										 ></ion-input>
									</ion-item>
							</ion-col>
						</ion-row>
						<ion-row class="range">
							<ion-item no-lines class="trade-range"  [class.sale]="!!(tradeType$|async)">
								<ion-range min='0'step='25' max='100' snaps='true' pin="false"  [class.color-true]="appDataService?.risefallColor"
								 [(ngModel)]='rangeValue' (ionChange)="tradeRangeChange($event)"
								 ></ion-range>
							</ion-item>
							<!-- <div class="range-mark range-box">
								<div class="left left-round range-round range-color" [class.range-sale]="!!(tradeType$|async)"></div> 
								<div class="right right-round range-round"></div>
							</div> -->
							<div class="range-mark">
								<div class="left"></div>
								<div class="right">{{rangeValue}}%</div>
							</div>
						</ion-row>
						<!-- 要求隐藏，ts相应代码也做隐藏处理 -->
						<!-- <ion-row class="range-component">
							<ion-item no-lines class="range-item">
								<ion-range #quantityRange
									 [class.issale]="!(tradeType$|async)"
									 [(ngModel)]="range" 
									 (ionChange)="amount = maxAmount * Range.ratio ;formatNumber('amount',-4)" 
									 pin="false"></ion-range>
							</ion-item>
							<div class="range-mark">
								<div class="left">0</div>
								<div class="right">{{maxAmount  | numberUnitFormat:true}}{{targetName}}</div>
							</div>
						</ion-row> -->
						<!-- </ion-grid>
						<ion-grid class="trbtn">  -->
						<ion-row class="trade-tip">
							<div class="range-mark">
								<!-- <div class="left" *ngIf="!(tradeType$|async)">
									交易额：
									<span class="trade-value">{{tradeValue||'--' | unitConversion}}</span>
									<span class="unit">{{priceName || '--'}}</span>
								</div>
								<div class="left" *ngIf="!!(tradeType$|async)">
									交易额：
									<span class="trade-value">{{tradeValue||'--' | unitConversion}}</span>
									<span class="unit">{{priceName || '--'}}</span>
								</div> -->
								<div class="left"  *ngIf="!(tradeType$|async)">
									{{'AVAILABLE'|translate}}：
									<span class="trade-value">{{appDataService?.hiddentext || (trader_product?.availableAmount || '--' | quantityConversion  | numberUnitFormat:true:false:8 | unitConversion)}}</span>
									<span class="unit">{{productName || '--'}}</span>
								</div>
								<div class="left"  *ngIf="!!(tradeType$|async)">
									{{'AVAILABLE'|translate}}：
									<span class="trade-value">{{appDataService?.hiddentext || (trader_target?.availableAmount || '--' | quantityConversion  | numberUnitFormat:true:false:8 | unitConversion)}}</span>
									<span class="unit">{{priceName || '--'}}</span>
								</div>
							</div>
						</ion-row>
						<ion-row style="padding-top: 1rem;">
							<!-- <ion-col col-6>
								<button block 
								  [disabled]="+amount <= 0 || +price <= 0 || personalDataService.accountBalance < price * amount" 
								  (click)="toBuy()">委托买入</button>
							</ion-col>
							<ion-col col-6>
								<button block
								  [disabled]="+amount <= 0 || +price <= 0 || (_saleableQuantity$ | async) < amount" 
									(click)="toSale()">委托卖出</button>
							</ion-col> -->
							<button class="trbtn" [class.color-true]='appDataService?.risefallColor'  [class.issale]="!(tradeType$|async)"  [class.disabled]="!productStatus"
								block [disabled]="trading" (click)="productStatus && (!appSetting.getUserToken()? goLogin() : doTrade())">
									{{(!appSetting.getUserToken()?
										'LOGIN' :
										 !!(tradeType$|async)?'BUY_IN':'SELL_OUT')
										 | translate
									}}
							</button>
							
						</ion-row>
					</ion-grid>
					<!-- 快捷交易 -->
					<ion-grid [hidden]="!appDataService.show_onestep_trade">
						<ion-row class="entrust-type">
							<ion-col class="buy">{{'QUICK_TRANSACTION'|translate}}</ion-col>
						</ion-row>
					</ion-grid>
					<ion-grid class="stsvg" [hidden]="!appDataService.show_onestep_trade">
						<ion-row>
							<ion-col col-6>
								<svg class="circle-svg sale" [class.disabled-svg]="!productStatus" viewBox="0,0,298,252">
									<path class="svg-path" d='M 52 252 A 143 143 0 1 1 246 252' fill='none' stroke-width='12' stroke-linecap='round' />
								</svg>
								<div class="svgcont" (click)="productStatus&&alterQuickTrade('sale')">
									<div class="svgcont">
										<div class="blank"></div>
										<div>{{'ESTIMATED_SELL_PRICE'|translate}}</div>
										<p id="salesum">{{saleTotalQuantity | numberUnitFormat:false:true:8}}</p>
										<span>{{'SELL_QUANTITY'|translate}}</span>
										<label id="salenum">{{saleTotalAmount | numberFilter:true}}</label>
									</div>
								</div>
							</ion-col>
							<ion-col col-6> 
								<svg class="circle-svg buy" [class.disabled-svg]="!productStatus" viewBox="0,0,298,252">
									<path class="svg-path" d='M 52 252 A 143 143 0 1 1 246 252' fill='none' stroke-width='12' stroke-linecap='round' />
								</svg>
								<div class="svgcont" (click)="productStatus&&alterQuickTrade('buy')">
									<div class="svgcont">
										<div class="blank"></div>
										<div>{{'ESTIMATED_BUY_PRICE'|translate}}</div>
										<p id="buysum">{{buyTotalQuantity | numberUnitFormat:false:true:8}}</p>
										<span>{{'BUY_QUANTITY'|translate}}</span>
										<label id="buynum">{{buyTotalAmount  | numberFilter:true}}</label>
									</div>
								</div>
							</ion-col>
							
						</ion-row>
					</ion-grid>
					<!-- <ion-grid class="stnum" [hidden]="!appDataService.show_onestep_trade">
						<ion-scroll scrollX="true" class="stonums">
							<ion-card *ngFor="let card of cards; let i = index;" (click)="buySaleActiveIndex.next(i)">
								<ion-card-content>
									<span [class.active]="(buySaleActiveIndex | async) === i">{{card}}</span>
								</ion-card-content>
							</ion-card>
						</ion-scroll>
					</ion-grid> -->
					<ion-grid class="stnum trinp" [hidden]="!appDataService.show_onestep_trade">
					
						<ion-row class="range-component">
							<ion-item no-lines class="range-item">
								<ion-range #oneQuantityRange
									 [class.issale]="true"
									 [(ngModel)]="oneRange"
									 [max]='rangeMaxNumber(1)'
									 min='0'
									 step='1'
									 [disabled] = "!productStatus || (rangeMaxNumber(1) < 1)"
									 (ionChange)="rangeQuickTradeData(oneRange,1)" 
									 pin="false"></ion-range>
							</ion-item>
							<div class="range-mark">
								<div class="left"></div>
								<div class="right">{{'QUANTITY_ONE'|translate}}</div>
							</div>
						</ion-row>
						<ion-row class="range-component">
							<ion-item no-lines class="range-item">
								<ion-range #tenQuantityRange
									 [class.issale]="true"
									 [(ngModel)]="tenRange" 
									 [max]='rangeMaxNumber(10)'
									 min='0'
									 step='10'
									 [disabled] = "!productStatus || (rangeMaxNumber(10) < 10)"
									 (ionChange)="rangeQuickTradeData(tenRange,10)" 
									 pin="false"></ion-range>
							</ion-item>
							<div class="range-mark"> 
								<div class="left"></div>
								<div class="right">{{'QUANTITY_TEN'|translate}}</div>
							</div>
						</ion-row>
						<ion-row class="range-component">
							<ion-item no-lines class="range-item">
								<ion-range #hundredQuantityRange
									 [class.issale]="true"
									 [(ngModel)]="hundredRange" 
									 [max]='rangeMaxNumber(100)'
									 min='0'
									 step='100'
									 [disabled] = "!productStatus || (rangeMaxNumber(100) < 100)"
									 (ionChange)="rangeQuickTradeData(hundredRange,100)" 
									 pin="false"></ion-range>
							</ion-item>
							<div class="range-mark">
								<div class="left"></div>
								<div class="right">{{'QUANTITY_HUNDRED'|translate}}</div>
							</div>
						</ion-row>
					</ion-grid>
		</div>
	<div  [hidden]="appDataService?.trade_type">
		
		<div class="market">
			<div class="market-head market-head-2">
				<!-- <div>
					<div class="market-items">
						<span class="market-label">{{'HIGH'|translate}}</span>
						<span>{{(_baseData$ | async)?.max | priceConversion:6 | numberFilter:true}}</span>
					</div>
					<div class="market-items">
						<span class="market-label">{{'LOW'|translate}}</span>
						<span>{{(_baseData$ | async)?.min | priceConversion:6 | numberFilter:true}}</span>
					</div>
				</div> -->
				<div class="price {{(_baseData$ | async)?.range | riseOrFall}}{{!appDataService?.risefallColor?'-true':''}}" (click)="setPrice(marketPrice)">
					{{(_baseData$ | async)?.price | numberFilter:false | priceConversion:8:pricePrecision}}
					<span><i class="picasso-icon-about"></i> {{currencyPrice | numberFilter:false | priceConversion:2:2 }} <span class="unit">{{appDataService.CURRENCY_INFO?.currencyTo}}</span></span>
					<div class="range">{{(_baseData$ | async)?.range | positiveSign:false}} <span>%</span></div>
				</div>
				<!-- <div>
					<div class="market-items right">
						<span class="{{(_baseData$ | async)?.range | riseOrFall}}">{{(_baseData$ | async)?.range | percent:'1.0-2' | positiveSign}}</span>
						<span class="market-label">{{'RANGE'|translate}}</span>
					</div>
					<div class="market-items right">
						<span>{{(_baseData$ | async)?.todayAmount | quantityConversion | numberUnitFormat:true:true:6}}</span>
						<span class="market-label">{{'VOL'|translate}}</span>
					</div>
				</div> -->
			</div>
			<div class="market-body">
				<div class="bet-bottom-shadow shadow-type-2"></div>
				<div class="bets-group  bets-group-type-2 best-group-left" [hidden]="!appDataService?.left_or_right">
						<div class="bet bet-left depth-title-type-2" tappable>
							  <!-- <div class="bet-label tip" [class.size-1rem]="size_1rem">挡位</div> -->
							<div class="bet-price depth-div" [class.size-1rem]="size_1rem">价格</div>
							<div class="bet-amount tip" [class.size-1rem]="size_1rem">数量</div>
						</div>
						<div *ngFor="let item of saler ; let i = index;" class="bet" tappable (click)="setPrice(sale_depth_2[i]?.price)">
							<!-- <div class="bet-label " [class.size-1rem]="size_1rem">{{item}}</div> -->
							<div class="bet-price sale depth-div" [class.color-true]="appDataService?.risefallColor" [class.size-1rem]="size_1rem">{{sale_depth_2[i]?.price || '--' | numberUnitFormat:true:false:8 | priceConversion:8:pricePrecision}}</div>
							<div class="bet-amount" [class.size-1rem]="size_1rem">{{sale_depth_2[i]?.amount || '--' | quantityConversion | numberUnitFormat:false:true:8:8 | priceConversion:8:amountPrecision | unitConversion }}</div>
						</div>
						<div style="height: 1px;background-color:#2a2b3f;margin: 0.2rem 0;"></div>
						<div *ngFor="let item of buyer_2 ; let i = index;" class="bet depth-type-2" tappable (click)="setPrice(buy_depth[i]?.price)"> 
							<!-- <div class="bet-label " [class.size-1rem]="size_1rem">{{item}}</div> -->
							<div class="bet-price buy depth-div" [class.color-true]="appDataService?.risefallColor" [class.size-1rem]="size_1rem">{{buy_depth[i]?.price || '--' | numberUnitFormat:true:false:8  | priceConversion:8:pricePrecision}}</div>
							<div class="bet-amount" [class.size-1rem]="size_1rem">{{buy_depth[i]?.amount || '--' | quantityConversion:8 | numberUnitFormat:false:true:8:8 | priceConversion:8:amountPrecision | unitConversion}}</div>
						</div>
						
					</div>
				<div class="bets-group">
					<div class="bet bet-left trade-title-type-2" tappable>
						<ion-grid [hidden]="appDataService.show_onestep_trade">
							<ion-row class="entrust-type" (click)="chooseTradeType($event)">
								<ion-col data-trade-type="1" class="buy" [class.enabled]="!!(tradeType$|async)" [class.disabled]="!(tradeType$|async)" [class.color-true]="appDataService?.risefallColor">{{'BUY'|translate}}</ion-col>
								<ion-col data-trade-type="0" class="sale" [class.enabled]="!(tradeType$|async)" [class.disabled]="!!(tradeType$|async)" [class.color-true]="appDataService?.risefallColor">{{'SELL'|translate}}</ion-col>
							</ion-row>
						</ion-grid>	
					</div>
					<div class="market-head market-head-type-2">
						<div class="price-type">
							<div class="price-text" (click)="changePriceType()">限价</div>
						</div>	
						<div class="left-or-right" (click)="changeLeftOrRight()"><img src="assets/icon/trade-{{appDataService?.left_or_right?'left':'right'}}.png" alt=""></div>
					</div>
					<ion-grid [hidden]="appDataService.show_onestep_trade" class="trinp  content-block content-block-type-2">
							<ion-row class="input-row input-row-type-2">
								<ion-col col-2 tappable (click)="changeByStep('price','-')" class="add-sub">-</ion-col>
								<ion-col col-7>
										<ion-item class="item-background-color item-input-padding">
									<ion-input #priceInputer2 type="number" placeholder="委托价格"
										[(ngModel)]="price"
										(ngModelChange)="formatNumber('price',-8)"
										
										></ion-input>
									</ion-item>
								</ion-col>
								<ion-col col-2 tappable (click)="changeByStep('price','+')" class="add-sub">+</ion-col>
							</ion-row>
							<ion-row class="input-row input-row-type-2" align-items-center>
								<ion-col col-2 tappable (click)="changeByStep('amount','-')" class="add-sub">-</ion-col>
								<ion-col col-7>
										<ion-item class="item-background-color item-input-padding"> 
											<ion-input #amountInputer2 type="number" placeholder="委托数量" 
											[(ngModel)]="amount" (ngModelChange)="formatNumber('amount')"
											
											></ion-input>
										</ion-item>
								</ion-col>
								<ion-col col-2 tappable (click)="changeByStep('amount','+')" class="add-sub">+</ion-col>
							</ion-row>
							<ion-row class="input-row input-row-type-2" align-items-center>
								<ion-col>
									<ion-item class="item-background-color item-input-padding"> 
										<ion-input #amountInputer type="text" placeholder="交易额{{priceName?'('+priceName+')':''}}"
											disabled
											[(ngModel)]="tradeValue"
											(ngModelChange)="formatNumber('amount')"
										></ion-input>
									</ion-item>
								</ion-col>
							</ion-row>
							<ion-row class="range">
								<ion-item no-lines class="trade-range  trade-range-type-2"  [class.sale]="!!(tradeType$|async)">
									<ion-range class="range-type-2" min='0' step='25' max='100' snaps='true' pin="false"  [class.color-true]="appDataService?.risefallColor"
									 [(ngModel)]='rangeValue' (ionChange)="tradeRangeChange($event)"
									 ></ion-range>
								</ion-item>
								<div class="range-mark">
									<div class="left"></div>
									<div class="right">{{rangeValue}}%</div>
								</div>
							</ion-row>
							<ion-row class="trade-tip trade-tip-type-2">
								<div class="range-mark">
									<div class="right"  *ngIf="!(tradeType$|async)">
										可　用：
										<span class="trade-value">{{appDataService?.hiddentext || (trader_product?.availableAmount || '--' | quantityConversion  | numberUnitFormat:true:false:8 | unitConversion)}}</span>
										<span class="unit">{{productName || '--'}}</span>
									</div>
									<div class="right"  *ngIf="!!(tradeType$|async)">
										可　用：
										<span class="trade-value">{{appDataService?.hiddentext || (trader_target?.availableAmount || '--' | quantityConversion  | numberUnitFormat:true:false:8 | unitConversion)}}</span>
										<span class="unit">{{priceName || '--'}}</span>
									</div>
								</div>
							</ion-row>
							<!-- <ion-row class="trade-tip trade-tip-value-2 ">
								<div class="range-mark">
									
									<div class="left" *ngIf="!(tradeType$|async)">
										交易额：
										<span class="trade-value">{{(tradeValue||'--') | unitConversion}}</span>
										<span class="unit">{{priceName || '--'}}</span>
									</div>
									<div class="left" *ngIf="!!(tradeType$|async)">
										交易额：
										<span class="trade-value">{{(tradeValue||'--') | unitConversion}}</span>
										<span class="unit">{{priceName || '--'}}</span>
									</div>
								</div>
							</ion-row> -->
							<ion-row style="padding-top: 1.2rem;">
								<button class="trbtn trbtn-type-2" [class.color-true]='appDataService?.risefallColor' [class.issale]="!(tradeType$|async)"  [class.disabled]="!productStatus"
									block [disabled]="trading" (click)="productStatus && (!appSetting.getUserToken()? goLogin() : doTrade())">
										{{(!appSetting.getUserToken()?
											'LOGIN' :
											 !!(tradeType$|async)?'BUY_IN':'SELL_OUT')
											 | translate
										}}
								</button>
								
							</ion-row>
						</ion-grid>
				</div>
				<div class="bets-group  bets-group-type-2" [hidden]="appDataService?.left_or_right">
					<div class="bet bet-left depth-title-type-2" tappable>
					  	<!-- <div class="bet-label tip" [class.size-1rem]="size_1rem">挡位</div> -->
						<div class="bet-price depth-div" [class.size-1rem]="size_1rem">价格</div>
						<div class="bet-amount tip" [class.size-1rem]="size_1rem">数量</div>
					</div>
					<div *ngFor="let item of saler ; let i = index;" class="bet" tappable (click)="setPrice(sale_depth_2[i]?.price)">
						<!-- <div class="bet-label " [class.size-1rem]="size_1rem">{{item}}</div> -->
						<div class="bet-price sale depth-div" [class.color-true]="appDataService?.risefallColor" [class.size-1rem]="size_1rem">{{sale_depth_2[i]?.price || '--' | numberUnitFormat:true:false:8 | priceConversion:8:pricePrecision}}</div>
						<div class="bet-amount" [class.size-1rem]="size_1rem">{{sale_depth_2[i]?.amount || '--' | quantityConversion | numberUnitFormat:false:true:8:8 | priceConversion:8:amountPrecision | unitConversion }}</div>
					</div>
					<div style="height: 1px;background-color:#2a2b3f;margin: 0.2rem 0;"></div>
					<div *ngFor="let item of buyer_2 ; let i = index;" class="bet depth-type-2" tappable (click)="setPrice(buy_depth[i]?.price)"> 
						<!-- <div class="bet-label " [class.size-1rem]="size_1rem">{{item}}</div> -->
						<div class="bet-price buy depth-div" [class.color-true]="appDataService?.risefallColor" [class.size-1rem]="size_1rem">{{buy_depth[i]?.price || '--' | numberUnitFormat:true:false:8 | priceConversion:8:pricePrecision}}</div>
						<div class="bet-amount" [class.size-1rem]="size_1rem">{{buy_depth[i]?.amount || '--' | quantityConversion:8 | numberUnitFormat:false:true:8:8 | priceConversion:8:amountPrecision | unitConversion}}</div>
					</div>
				</div>
				
				
			</div>
		</div>
	</div>
	<div class="entrusts">
		<div class="header">
			<span class="title">当前委托</span>
			<span class="title sub-title" (click)="gotoHistory($event)">历史委托</span>
			<span  class="re-history" (click)='reEntrusts()'>
				<ion-icon class="picasso-icon-refresh" [class.refresh-animation]="_reEntrusts"></ion-icon>
				<!-- <font>{{'HISTORY_RECORDS'|translate}}</font> -->
			</span>
		</div>
		<div class="no-entrust" *ngIf="!entrusts || entrusts.length == 0">
			<div class="no-entrust-img">
				
			</div>
			<div class="no-entrust-txt">暂无委托</div>
		</div>
		<div *ngFor="let item of entrusts">
			<div class="entrust">
				<div class="header">
					<div class="type"  [class.color-true]="appDataService?.risefallColor" [class.buy]="item.operationType == '001'" [class.sale]="item.operationType == '002'">
						{{(item.operationType == '001'? 'BUY': item.operationType == '002'? 'SELL':'' )|translate}}
					</div>
					<div class="date">{{item.entrustTime | date:'yyyy-MM-dd HH:mm:ss'}}</div>
					<button (click)="confirmCancel(item.id,item.entrustTime,item.operationType)">{{'REVOKE'|translate}}</button>
				</div>
				<div class="params">
					<div class="col">
						<div *ngIf="!item?.isMarketOrder">
							<span class="name">{{'DELEGATED_PRICE'|translate}}</span>
							<span class="value">{{item.commitPrice | priceConversion:8:pricePrecision}}</span>
						</div>
						<div *ngIf="item?.isMarketOrder">
							<span class="kj-name">{{'QUICK_TRANSACTION'|translate}}</span>
						</div>
					</div>
					<div class="col">
						<div *ngIf="!item?.isMarketOrder">
							<span class="name">{{'DELEGATED_QUANTITY'|translate}}</span>
							<span class="value">{{item.commitAmount | priceConversion:8:amountPrecision}}</span>
						</div>
						<div *ngIf="item?.isMarketOrder">
							<span class="name">{{(item.operationType == '001'? '委托金额': item.operationType == '002'? '委托数量':'' )|translate}}</span>
							<span class="value">{{(item.operationType == '001'? item.entrustTotalPrice: item.operationType == '002'? item.entrustAmount:'' )|quantityConversion}}</span>
						</div>
					</div>
					<div class="col">
						<div *ngIf="!item?.isMarketOrder">
							<span class="name">{{'BALANCE_QUANTITY'|translate}}</span>
							<span class="value">{{item.surplusAmount | priceConversion:8:amountPrecision}}</span>
						</div>
						<div *ngIf="item?.isMarketOrder">
							<span class="name">{{(item.operationType == '001'? '剩余金额': item.operationType == '002'? '剩余数量':'' )|translate}}</span>
							<!-- TODO：快捷买卖剩余的字段使用了同一个，之后分开 -->
							<span class="value">{{(item.operationType == '001'? item.surplusTotalPrice: item.operationType == '002'? item.surplusTotalPrice:'' ) |quantityConversion}}</span>
						</div>
					</div>
				</div>
			</div> 
		</div>
		<div>
			<div class="entrust no-more" *ngIf="entrusts && entrusts.length > 0 && !hasMore">
				<div class="entrust-no-more"> <span></span> 无更多委托订单 <span></span> </div>
			</div> 
		</div>
	</div>
	<!--加载更多-->
	<!-- <ion-infinite-scroll [enabled]="hasMore" (ionInfinite)="loadMoreHistory($event)">
		<ion-infinite-scroll-content loadingText="{{'LOADING'|translate}}...">
		</ion-infinite-scroll-content>
	</ion-infinite-scroll>	 -->
	<ion-grid *ngIf='hasMore'>
		<ion-row justify-content-center>
			<button class="load-more-btn" (click)="loadMoreHistory($event)">
				{{'MORE'|translate}}
			</button>
		</ion-row>
	</ion-grid>

</ion-content>

<!-- 横屏k线图表 -->
<!-- <div class="home-contain sim-landscape" [class.show]="false">
	<ion-grid class="sft child-span-padding-left-1">
		<ion-row justify-content-around>
			<ion-col col-3 no-padding>
				<h1 class="{{(_baseData$ | async)?.range | riseOrFall}}" text-center> {{(_baseData$ | async)?.price | priceConversion | numberFilter}}</h1> -->
				<!-- <div text-center>{{showData?.datetime}}</div> -->
			<!-- </ion-col>
			<ion-col col-2>
				<div text-left>涨跌
					<span class="{{(_baseData$ | async)?.range | riseOrFall}}">{{(_baseData$ | async)?.price||0 - (_baseData$ | async)?.start | number:'.2-2' | positiveSign}}</span>
				</div>
				<div text-left>幅度
					<span class="{{(_baseData$ | async)?.range | riseOrFall}}">{{(_baseData$ | async)?.range | percent:'1.0-2'}}</span>
				</div>
			</ion-col>
			<ion-col col-2>
				<div text-left>高
					<span class="">{{(_baseData$ | async)?.max | priceConversion | numberFilter:true}}</span>
				</div>
				<div text-left>低
					<span class="">{{(_baseData$ | async)?.min | priceConversion | numberFilter:true}}</span>
				</div>
			</ion-col>
			<ion-col col-2>
				<div text-left>量
					<span>{{(_baseData$ | async)?.amount | quantityConversion | numberUnitFormat:true:true:6}}</span>
				</div>
				<div text-left>额
					<span>{{((_baseData$ | async)?.price * (_baseData$ | async)?.amount) | numberFilter}}</span>
				</div>
			</ion-col>
			<ion-col col-1 tappable (click)="switchOrientation(true)">
				<ion-icon name="close" class="vertical-center"></ion-icon>
			</ion-col>
		</ion-row>
	</ion-grid>


	<div class="sfull">
		<div class="charts">
			<realtime-report 
				#largeRealtimeChart
				[echartsData]="_realtimeData$ | async" 
				[options]="realtimeOptions"
				*ngIf="activeIndex === 0 && !isPortrait">
			</realtime-report> -->
			 <!-- (_kData$ | async)[kDataUnit] -->
			 <!-- (tooltipEmitted)="showKDataCustomTooltip($event)" -->
			<!-- <candlestick-component [echartsData]="_candlestickData$ | async" [options]="candlestickOptions"
			 *ngIf="activeIndex !== 0 && !isPortrait">
			</candlestick-component>
			<div class="arrow-div" tappable (click)="toggleBets()">
				<ion-icon *ngIf="activeIndex === 0" name="{{betsHidden ? 'ios-arrow-back' : 'ios-arrow-forward'}}" class="vertical-center"></ion-icon>
			</div>
		</div>
		<div class="bets item-center-center" *ngIf="!isPortrait && !betsHidden && activeIndex === 0">
			<div class="bets-tab">
				<div *ngFor="let data of _depth$ | async as depths ; let i = index;" class="bets-row">
					<span *ngIf="i==depths.length/2" class="sep {{(_baseData$ | async)?.range | riseOrFall}}">
						{{(_baseData$ | async)?.price | priceConversion | numberFilter}}
					</span>
					<span class="bets-title {{i<depths.length/2? 'sale': 'buy'}}">{{appSettings.betsTitle[i]}}</span>
					<span class="bets-amount {{i<depths.length/2?'sale':'buy'}}">{{data?.price | priceConversion | numberFilter:true:false:6}}</span>
					<span class="bets-quantity ">{{data?.amount | quantityConversion | numberUnitFormat}}</span>
				</div>
			</div>
		</div>
	</div>


	<ion-grid class="sfulltab">
		<ion-row col-8>
			<ion-col col-3 *ngFor="let title of timeArray; let i = index;" (click)="changeTime(i)" [class.active]="activeIndex === i">{{title}}</ion-col>
		</ion-row>
	</ion-grid>
</div> -->