<ion-header class="animation-header"> 
	<ion-navbar>
		<ion-item class="button-space">
			<ion-select [(ngModel)]="traderId" (ngModelChange)='changeTrader($event)' placeholder="---/---" interface="popover" style="width:initial">
				<ion-option *ngFor="let trader of traderList" [value]="trader.traderId">
					{{trader.traderName}}
				</ion-option>
			</ion-select>
		</ion-item>
		<ion-buttons class="chart-button" right>
			<!-- <button ion-button ion-only (click)="switchOrientation(false)">

			</button> -->
			<button ion-button ion-only (click)='gotoChart($event)' >
			</button>
			<!-- <ion-icon class="sresize" (click)="switchOrientation(false)"></ion-icon> -->
		</ion-buttons>
		<ion-buttons class="flash-trade" right>
			<button ion-button ion-only (click)="confirmChangeTradingMode($event)">
			</button>
		</ion-buttons>
	</ion-navbar>
	<div class="position">
		<div class="trader">
			<div>
				<span class="label">{{'AVAILABLE'|translate}}{{productName || '--'}}&nbsp;</span>
				<span>{{hiddentext || (trader_product?.restQuantity || '--' | quantityConversion  | numberUnitFormat:true:false:12)}}</span>
			</div>
			<div> 
				<span class="label">{{'AVAILABLE'|translate}}{{priceName || '--'}}&nbsp;</span>
				<span>{{hiddentext || (trader_target?.restQuantity || '--' | quantityConversion | numberUnitFormat:true:false:12)}}</span>
			</div>
		</div>
		<div>
			<div class="label">{{'TOTAL_ASSETS'|translate}}({{personalAssets?.asset?.priceName || '--'}})</div>
			<div>{{hiddentext || (personalAssets?.asset?.total || '--' | quantityConversion | numberUnitFormat:true:false:12)}}</div>
			<div class="visible" [class.on]="!hiddentext" [class.off]="!!hiddentext" (click)="toggleVisible($event)"></div>
		</div>
	</div>
</ion-header>

<ion-content no-bounce class="home-contain">
	<!--下拉刷新-->
	<ion-refresher (ionRefresh)="refreshPersonalData($event)">
		<ion-refresher-content refreshingText="{{'RENEWING'|translate}}...">
		</ion-refresher-content>
	</ion-refresher>

	<div class="market">
		<div class="market-head">
			<div>
				<div class="market-items">
					<span class="market-label">{{'HIGH'|translate}}</span>
					<span>{{(_baseData$ | async)?.max | priceConversion:6 | numberFilter:true}}</span>
				</div>
				<div class="market-items">
					<span class="market-label">{{'LOW'|translate}}</span>
					<span>{{(_baseData$ | async)?.min | priceConversion:6 | numberFilter:true}}</span>
				</div>
			</div>
			<div class="price {{(_baseData$ | async)?.range | riseOrFall}}">
				{{(_baseData$ | async)?.price | priceConversion:5 | numberFilter}}
			</div>
			<div>
				<div class="market-items right">
					<span class="{{(_baseData$ | async)?.range | riseOrFall}}">{{(_baseData$ | async)?.range | percent:'1.0-2' | positiveSign}}</span>
					<span class="market-label">{{'RANGE'|translate}}</span>
				</div>
				<div class="market-items right">
					<span>{{(_baseData$ | async)?.amount | quantityConversion | numberUnitFormat:true:true:6}}</span>
					<span class="market-label">{{'VOL'|translate}}</span>
				</div>
			</div>
		</div>
		<div class="market-body">
			<!-- <div class="bets">
				<div *ngFor="let data of _depth$ | async as depths ; let i = index;" class="bets-row {{i<=depths.length/2? 'sale': 'buy'}}"
				 [hidden]="!(i<depths.length/2)" tappable (click)="setPrice(data?.price)">
					<div *ngIf="i<depths.length/2" class="sale">
						<span class="bets-title">{{appSettings.betsTitle[i]}}</span>
						<span class="bets-amount">{{data?.price | priceConversion | numberFilter:true:false:6}}</span>
						<span class="bets-quantity">{{data?.amount | quantityConversion | numberUnitFormat}}</span>
					</div>
				</div>
			</div>
			<div class="bets">
				<div *ngFor="let data of _depth$ | async as depths ; let i = index;" class="bets-row {{i<=depths.length/2? 'sale': 'buy'}}"
				 [hidden]="!!(i<depths.length/2)" tappable (click)="setPrice(data?.price)">
					<div *ngIf="!(i<depths.length/2)" class="buy">
						<span class="bets-title">{{appSettings.betsTitle[i]}}</span>
						<span class="bets-amount">{{data?.price | priceConversion | numberFilter:true:false:6}}</span>
						<span class="bets-quantity">{{data?.amount | quantityConversion | numberUnitFormat}}</span>
					</div>
				</div>
			</div>
			<div style="clear:both"></div> -->
			<div class="bets-group">
				<div *ngFor="let item of saler ; let i = index;" class="bet"
				 tappable (click)="setPrice(sale_depth[i]?.price)">
				<div class="bet-label sale">{{item}}</div>
					<div class="bet-price sale">{{sale_depth[i]?.price || '--' | priceConversion | numberUnitFormat:true:false:4}}</div>
					<div class="bet-amount">{{sale_depth[i]?.amount || '--' | quantityConversion | numberUnitFormat:false:true:4}}</div>
				</div>
			</div>
			<div class="bets-group">
				<div *ngFor="let item of buyer ; let i = index;" class="bet"
				 tappable (click)="setPrice(buy_depth[i]?.price)"> 
					<div class="bet-label buy">{{item}}</div>
					<div class="bet-price buy">{{buy_depth[i]?.price || '--' | priceConversion | numberUnitFormat:true:false:4}}</div>
					<div class="bet-amount">{{buy_depth[i]?.amount || '--' | quantityConversion | numberUnitFormat:false:true:4}}</div>
				</div>
			</div>
			
		</div>
	</div>
	<!-- FIXME ：此页面使用了弹性布局，用于调整主要几个区域元素的高度， -->
	<!-- 以便适应不同宽高比的手机，让实时图保证显示在第一屏之内，并且内容撑满屏幕。 -->
	<!-- 但是在软键盘弹出时，会因为页面高度被调整而造成弹性高度消失， -->
	<!-- 页面区域因为高度变化出现跳跃感，需考虑在页面渲染完成后固定相关元素的高度！ -->
	<!-- 可参照登录页纵向居中的处理方式。 -->
	<ion-grid *ngIf="false"><!-- class="trtop" -->
		<ion-row>
			<ion-col col-6>
				<div class="price {{(_baseData$ | async)?.range | riseOrFall}}">
					<!-- 4.0675 -->
					{{(_baseData$ | async)?.price | priceConversion | numberFilter}}
					<!-- <span class="datetime-info">{{(_baseData$ | async)?.datetime}}</span> -->
				</div>
			</ion-col>
			<!-- <ion-col col-2 class="small-font">
					<div class="{{(_baseData$ | async)?.changeValue | riseOrFall}}">{{(_baseData$ | async)?.changeValue | number:'.2-2' | positiveSign}}</div>
					<div class="{{(_baseData$ | async)?.changeValue | riseOrFall}}">{{(_baseData$ | async)?.changeRate | percent:'.2-2' | positiveSign}}</div>
				</ion-col> -->
			<ion-col col-3>
				<div>
					<label>{{'RANGE'|translate}}</label>
					<!-- <span>+23%</span> -->
					<span class="{{(_baseData$ | async)?.range | riseOrFall}}">{{(_baseData$ | async)?.range | percent:'1.0-2'}}</span>
				</div>

				<div>
					<label>{{'VOL'|translate}}</label>
					<!-- <span>35.2314</span> -->
					<span>{{(_baseData$ | async)?.amount | quantityConversion | numberUnitFormat:true:true:6}}</span>
				</div>
			</ion-col>
			<ion-col col-3>
				<div>
					<label>{{'HIGH'|translate}}</label>
					<!-- <span>4.23113</span> -->
					<span>{{(_baseData$ | async)?.max | priceConversion | numberFilter:true}}</span>
				</div>
				<div>
					<label>{{'LOW'|translate}}</label>
					<!-- <span>3.54521</span> -->
					<span>{{(_baseData$ | async)?.min | priceConversion | numberFilter:true}}</span>
				</div>
			</ion-col>	
		</ion-row>
	</ion-grid>
	<!-- 限价交易 -->
	<ion-grid [hidden]="appDataService.show_onestep_trade" [scroll-fix-keyboard]="content">
		<ion-row class="entrust-type" (click)="chooseTradeType($event)">
			<ion-col data-trade-type="0" class="sale" [class.enabled]="!(tradeType$|async)">{{'SELL'|translate}}</ion-col>
			<ion-col data-trade-type="1" class="buy" [class.enabled]="!!(tradeType$|async)">{{'BUY'|translate}}</ion-col>
		</ion-row>
	</ion-grid>	
	<ion-grid [hidden]="appDataService.show_onestep_trade" class="trinp  content-block">
		<ion-row class="fee">
			<ion-icon ios="ios-alert-outline" md="ios-alert-outline"></ion-icon>
			{{'FEE_RATE_STANDARDS'|translate}}:{{fee}}
		</ion-row>
		<ion-row class="input-row">
			<ion-col col-2 tappable (click)="changeByStep('price','-')">-</ion-col>
				<ion-col col-1>
					<ion-icon name="ios-gprice" class="vertical-center"></ion-icon>
				</ion-col>
			<ion-col col-7>
				<ion-input #priceInputer type="number" placeholder="{{'PRICES'|translate}}"
					[(ngModel)]="price"
					(ngModelChange)="formatNumber('price',-8)"
					></ion-input>
			</ion-col>
			<ion-col col-2 tappable (click)="changeByStep('price','+')">+</ion-col>
		</ion-row>
		<ion-row class="input-row" align-items-center>
			<ion-col col-2 tappable (click)="changeByStep('amount','-')">-</ion-col>
			<ion-col col-1>
				<ion-icon name="ios-gamount" class="vertical-center"></ion-icon>
			</ion-col>
			<ion-col col-7>
				<ion-input #amountInputer type="number" placeholder="{{'QUANTITYS'|translate}}" [(ngModel)]="amount" (ngModelChange)="formatNumber('amount')"></ion-input>
			</ion-col>
			<ion-col col-2 tappable (click)="changeByStep('amount','+')">+</ion-col>
		</ion-row>
		<!-- 要求隐藏，ts相应代码也做隐藏处理 -->
		<!-- <ion-row class="range-component">
			<ion-item no-lines class="range-item">
				<ion-range #quantityRange
					 [class.issale]="!(tradeType$|async)"
					 [(ngModel)]="range" 
					 (ionChange)="amount = maxAmount * Range.ratio ;formatNumber('amount',-4)" 
					 pin="false"></ion-range>
			</ion-item>
			<div class="range-mark">
				<div class="left">0</div>
				<div class="right">{{maxAmount  | numberUnitFormat:true}}{{targetName}}</div>
			</div>
		</ion-row> -->
		<!-- </ion-grid>
		<ion-grid class="trbtn">  -->
		<ion-row style="padding-top: 2rem;">
			<!-- <ion-col col-6>
				<button block 
				  [disabled]="+amount <= 0 || +price <= 0 || personalDataService.accountBalance < price * amount" 
				  (click)="toBuy()">委托买入</button>
			</ion-col>
			<ion-col col-6>
				<button block
				  [disabled]="+amount <= 0 || +price <= 0 || (_saleableQuantity$ | async) < amount" 
					(click)="toSale()">委托卖出</button>
			</ion-col> -->
			<button class="trbtn" [class.issale]="!(tradeType$|async)" 
				block [disabled]="trading" (click)="!appSetting.getUserToken()? goLogin() : doTrade()">
					{{(!appSetting.getUserToken()?
						'LOGIN' :
						 !!(tradeType$|async)?'DELEGATE_BUY':'DELEGATE_SELL')
						 | translate
					}}
			</button>
			
		</ion-row>
	</ion-grid>
	<!-- 快捷交易 -->
	<ion-grid [hidden]="!appDataService.show_onestep_trade">
		<ion-row class="entrust-type">
			<ion-col class="buy">{{'QUICK_TRANSACTION'|translate}}</ion-col>
		</ion-row>
	</ion-grid>
	<ion-grid class="stsvg" [hidden]="!appDataService.show_onestep_trade">
		<ion-row>
			<ion-col col-6>
				<svg class="circle-svg sale" viewBox="0,0,298,252">
					<path class="svg-path" d='M 52 252 A 143 143 0 1 1 246 252' fill='none' stroke-width='12' stroke-linecap='round' />
				</svg>
				<div class="svgcont" (click)="quickTrade('sale')">
					<div class="svgcont">
						<div class="blank"></div>
						<div>{{'ESTIMATED_SELL_PRICE'|translate}}</div>
						<p id="salesum">{{saleTotalQuantity | numberUnitFormat:false:true:4}}</p>
						<span>{{'SELL_QUANTITY'|translate}}</span>
						<label id="salenum">{{saleTotalAmount | numberFilter:true}}</label>
					</div>
				</div>
			</ion-col>
			<ion-col col-6>
				<svg class="circle-svg buy" viewBox="0,0,298,252">
					<path class="svg-path" d='M 52 252 A 143 143 0 1 1 246 252' fill='none' stroke-width='12' stroke-linecap='round' />
				</svg>
				<div class="svgcont" (click)="quickTrade('buy')">
					<div class="svgcont">
						<div class="blank"></div>
						<div>{{'ESTIMATED_BUY_PRICE'|translate}}</div>
						<p id="buysum">{{buyTotalQuantity | numberUnitFormat:false:true:4}}</p>
						<span>{{'BUY_QUANTITY'|translate}}</span>
						<label id="buynum">{{buyTotalAmount  | numberFilter:true}}</label>
					</div>
				</div>
			</ion-col>
			
		</ion-row>
	</ion-grid>
	<!-- <ion-grid class="stnum" [hidden]="!appDataService.show_onestep_trade">
		<ion-scroll scrollX="true" class="stonums">
			<ion-card *ngFor="let card of cards; let i = index;" (click)="buySaleActiveIndex.next(i)">
				<ion-card-content>
					<span [class.active]="(buySaleActiveIndex | async) === i">{{card}}</span>
				</ion-card-content>
			</ion-card>
		</ion-scroll>
	</ion-grid> -->
	<ion-grid class="stnum trinp" [hidden]="!appDataService.show_onestep_trade">
	
		<ion-row class="range-component">
			<ion-item no-lines class="range-item">
				<ion-range #oneQuantityRange
					 [class.issale]="true"
					 [(ngModel)]="oneRange"
					 [max]='rangeMaxNumber(1)'
					 min='0'
					 step='1'
					 [disabled] = "rangeMaxNumber(1) < 1"
					 (ionChange)="rangeQuickTradeData(oneRange,1)" 
					 pin="false"></ion-range>
			</ion-item>
			<div class="range-mark">
				<div class="left"></div>
				<div class="right">{{'QUANTITY_ONE'|translate}}</div>
			</div>
		</ion-row>
		<ion-row class="range-component">
			<ion-item no-lines class="range-item">
				<ion-range #tenQuantityRange
					 [class.issale]="true"
					 [(ngModel)]="tenRange" 
					 [max]='rangeMaxNumber(10)'
					 min='0'
					 step='10'
					 [disabled] = "rangeMaxNumber(10) < 10"
					 (ionChange)="rangeQuickTradeData(tenRange,10)" 
					 pin="false"></ion-range>
			</ion-item>
			<div class="range-mark"> 
				<div class="left"></div>
				<div class="right">{{'QUANTITY_TEN'|translate}}</div>
			</div>
		</ion-row>
		<ion-row class="range-component">
			<ion-item no-lines class="range-item">
				<ion-range #hundredQuantityRange
					 [class.issale]="true"
					 [(ngModel)]="hundredRange" 
					 [max]='rangeMaxNumber(100)'
					 min='0'
					 step='100'
					 [disabled] = "rangeMaxNumber(100) < 100"
					 (ionChange)="rangeQuickTradeData(hundredRange,100)" 
					 pin="false"></ion-range>
			</ion-item>
			<div class="range-mark">
				<div class="left"></div>
				<div class="right">{{'QUANTITY_HUNDRED'|translate}}</div>
			</div>
		</ion-row>
	</ion-grid>

	<div class="entrusts">
		<div class="header">
			<span class="title">{{'DELEGATION_ORDER'|translate}}</span>
			<span (click)="gotoHistory($event)" class="goto-history">
				<ion-icon class="history-icon"></ion-icon>
				<font>{{'HISTORY_RECORDS'|translate}}</font>
			</span>
		</div>
		<div class="no-entrust" *ngIf="!entrusts || entrusts.length == 0">{{'NO_PENDING_ORDERS_UNTIL_NOW'|translate}}</div>
		<div *ngFor="let item of entrusts">
			<div class="entrust">
				<div class="header">
					<div class="type" [class.buy]="item.operationType == '001'" [class.sale]="item.operationType == '002'">
						{{(item.operationType == '001'? 'BUY': item.operationType == '002'? 'SELL':'' )|translate}}
					</div>
					<div class="date">{{item.entrustTime | date:'yyyy-MM-dd'}}</div>
					<button (click)="confirmCancel(item.id,item.entrustTime,item.operationType)">{{'REVOKE'|translate}}</button>
				</div>
				<div class="params">
					<div class="col">
						<span class="name">{{'DELEGATED_PRICE'|translate}}</span>
						<span class="value">{{item.commitPrice}}</span>
					</div>
					<div class="col">
						<span class="name">{{'DELEGATED_QUANTITY'|translate}}</span>
						<span class="value">{{item.commitAmount |quantityConversion}}</span>
					</div>
					<div class="col">
						<span class="name">{{'BALANCE_QUANTITY'|translate}}</span>
						<span class="value">{{item.surplusAmount |quantityConversion}}</span>
					</div>
				</div>
			</div>
		</div>
		
		<!--加载更多-->
		<ion-infinite-scroll [enabled]="hasMore" (ionInfinite)="loadMoreHistory($event)">
			<ion-infinite-scroll-content loadingText="{{'LOADING'|translate}}...">
			</ion-infinite-scroll-content>
		</ion-infinite-scroll>

	</div>
</ion-content>

<!-- 横屏k线图表 -->
<!-- <div class="home-contain sim-landscape" [class.show]="false">
	<ion-grid class="sft child-span-padding-left-1">
		<ion-row justify-content-around>
			<ion-col col-3 no-padding>
				<h1 class="{{(_baseData$ | async)?.range | riseOrFall}}" text-center> {{(_baseData$ | async)?.price | priceConversion | numberFilter}}</h1> -->
				<!-- <div text-center>{{showData?.datetime}}</div> -->
			<!-- </ion-col>
			<ion-col col-2>
				<div text-left>涨跌
					<span class="{{(_baseData$ | async)?.range | riseOrFall}}">{{(_baseData$ | async)?.price||0 - (_baseData$ | async)?.start | number:'.2-2' | positiveSign}}</span>
				</div>
				<div text-left>幅度
					<span class="{{(_baseData$ | async)?.range | riseOrFall}}">{{(_baseData$ | async)?.range | percent:'1.0-2'}}</span>
				</div>
			</ion-col>
			<ion-col col-2>
				<div text-left>高
					<span class="">{{(_baseData$ | async)?.max | priceConversion | numberFilter:true}}</span>
				</div>
				<div text-left>低
					<span class="">{{(_baseData$ | async)?.min | priceConversion | numberFilter:true}}</span>
				</div>
			</ion-col>
			<ion-col col-2>
				<div text-left>量
					<span>{{(_baseData$ | async)?.amount | quantityConversion | numberUnitFormat:true:true:6}}</span>
				</div>
				<div text-left>额
					<span>{{((_baseData$ | async)?.price * (_baseData$ | async)?.amount) | numberFilter}}</span>
				</div>
			</ion-col>
			<ion-col col-1 tappable (click)="switchOrientation(true)">
				<ion-icon name="close" class="vertical-center"></ion-icon>
			</ion-col>
		</ion-row>
	</ion-grid>


	<div class="sfull">
		<div class="charts">
			<realtime-report 
				#largeRealtimeChart
				[echartsData]="_realtimeData$ | async" 
				[options]="realtimeOptions"
				*ngIf="activeIndex === 0 && !isPortrait">
			</realtime-report> -->
			 <!-- (_kData$ | async)[kDataUnit] -->
			 <!-- (tooltipEmitted)="showKDataCustomTooltip($event)" -->
			<!-- <candlestick-component [echartsData]="_candlestickData$ | async" [options]="candlestickOptions"
			 *ngIf="activeIndex !== 0 && !isPortrait">
			</candlestick-component>
			<div class="arrow-div" tappable (click)="toggleBets()">
				<ion-icon *ngIf="activeIndex === 0" name="{{betsHidden ? 'ios-arrow-back' : 'ios-arrow-forward'}}" class="vertical-center"></ion-icon>
			</div>
		</div>
		<div class="bets item-center-center" *ngIf="!isPortrait && !betsHidden && activeIndex === 0">
			<div class="bets-tab">
				<div *ngFor="let data of _depth$ | async as depths ; let i = index;" class="bets-row">
					<span *ngIf="i==depths.length/2" class="sep {{(_baseData$ | async)?.range | riseOrFall}}">
						{{(_baseData$ | async)?.price | priceConversion | numberFilter}}
					</span>
					<span class="bets-title {{i<depths.length/2? 'sale': 'buy'}}">{{appSettings.betsTitle[i]}}</span>
					<span class="bets-amount {{i<depths.length/2?'sale':'buy'}}">{{data?.price | priceConversion | numberFilter:true:false:6}}</span>
					<span class="bets-quantity ">{{data?.amount | quantityConversion | numberUnitFormat}}</span>
				</div>
			</div>
		</div>
	</div>


	<ion-grid class="sfulltab">
		<ion-row col-8>
			<ion-col col-3 *ngFor="let title of timeArray; let i = index;" (click)="changeTime(i)" [class.active]="activeIndex === i">{{title}}</ion-col>
		</ion-row>
	</ion-grid>
</div> -->