<!--
  Generated template for the RegisterPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
    <div class="paddingfix">
        <ion-navbar>
            <ion-title></ion-title>
        </ion-navbar>
    </div>
</ion-header>
 

<ion-content no-bounce>
    <div class="register-warpper">
        <div class="logo-container">
            <img src="assets/images/login/logo.png" alt="" class="logo">
        </div>
        <form class="register-form-container" [formGroup]="registerForm" (ngSubmit)="filterRegister()" novalidate>
            <ion-item class="register-form-item">
                <ion-input formControlName="customerId" class="account" placeholder="{{'MOBILE_PHONE_NUMBER_EMAIL'|translate}}" (blur)='checkRegister()' (focus)="focusCustomerId()"></ion-input>
                <div item-right class="error-tip" *ngIf="form_customerId.errors?.wrongCustomerId">
                   {{'ACCOUNT_FORMAT_EROOR_EMAIL'|translate}}
                </div>
                <div item-right class="error-tip" *ngIf="!form_customerId.errors?.wrongCustomerId && registerCustomerId"> 
                    {{'ACCOUNT_HAS_EXISTED'|translate}}
                </div>
            </ion-item>
            <ion-item class="register-form-item">
                <ion-input formControlName="vcode" class="number" placeholder="{{'VERIFICATION_CODE'|translate}}">
                </ion-input>
                <button item-right type="button" class="send-vcode credit-submit-btn" style="z-index:9999" [disabled]="sending_vcode||resend_time_clock || check_sending_vcode" (click)="register_step1()">
          {{(sending_vcode?'SENDING':(resend_time_clock?(resend_time_clock+'s'):'GAIN_VERIFICATION_CODE') )   | translate}}</button>
            </ion-item>
            <ion-item class="register-form-item">
                <ion-input formControlName="password" class="password" type="password" placeholder="{{'LOGIN_PASSWORD'|translate}}">
                </ion-input>
                <div item-right class="error-tip" *ngIf="form_password.errors?.minlength">
                    {{'PASSWORD_AT_LEAST_3_DIGITS'|translate}}
                </div>
                <div item-right class="error-tip" *ngIf="!form_password.errors?.minlength && form_password.errors?.strengthError">
                    {{'PASSWORD_STRENGTH_DISCREPANCY'|translate}}
                </div>
            </ion-item>
            <ion-item class="register-form-item">
                <ion-input formControlName="confirPassword" class="password" type="password" placeholder="{{'CONFIRM_PASSWORD'|translate}}">
                </ion-input>
                <div item-right class="error-tip" *ngIf="form_confirPassword.errors?.confirmError">
                    {{'TWO_PASSWORDS_ARE_NOT_IDENTICAL_INPUT'|translate}}
                </div>
            </ion-item>
            <ion-item class="register-form-item">
                <ion-input formControlName="recommendCode" class="password" placeholder="选填：推荐人">
                </ion-input>
            </ion-item>
            <div item-right class="pwd-strength">
                {{'PASSWORD_PROMPT'|translate}}
            </div>
            <div class="register-agree-protocol">
                <ion-checkbox color="dark" formControlName="protocolAgree" #agreement></ion-checkbox>
                <p class="protocol-checkbox" >
                    <a (click)="showModal()">{{'PICASSO_USER_AGREEMENT'|translate}}</a>
                </p>
            </div>
            <button ion-button class="register-form-submit" type="submit" [disabled]="registerForm.invalid || !agreement.value || !appDataService.ready || registering">
        {{'REGISTER'|translate}}
      </button>
        </form>
    </div>
</ion-content>