page-register {
    .paddingfix{
        padding-top: $cordova-ios-statusbar-padding;
    } 
    .fixed-content,
    .scroll-content {
        margin-top: 0!important;
    }
    ion-navbar{
        .button-inner{
            color: #c1b17f;
        }
    }
    .register-agree-protocol {
        display: flex;
        align-items: center;
        background-color: transparent;
        border: none; // transform: scale(0.9);
        // transform-origin: 0;
        margin-top: 1rem;
        .item-inner {
            border: none;
        } 
        ion-checkbox {
            padding-right: 0.5em;
            background: none;
            border: none;
            font-size: 1.2px;
            color: #fff;
            transform: scale(0.6);
            .checkbox-icon {
                background-color: transparent;
                border-color: #c1b17f;
                border-width: 2px;
                box-sizing: border-box;
                &.checkbox-checked {
                    border-color: #c1b17f; // background-color: #c1b17f;
                    .checkbox-inner {
                        border-color: #c1b17f;
                        transform: scale(1.2) rotate(45deg);
                        top: 3px;
                        left: 6px;
                        width: 5px;
                        height: 9px;
                        border-width: 2px;
                        border-top-width: 0;
                        border-left-width: 0;
                        animation: checkbox-inner-ani 0.15s;
                    }
                    @keyframes checkbox-inner-ani {
                        from {
                            transform: scale(0) rotate(45deg);
                        }
                        to {
                            transform: scale(1.2) rotate(45deg);
                        }
                    }
                }
            }
        } // .checkbox input,
        // .checkbox-icon {
        //   width: 26px;
        //   height: 26px;
        // }
        .checkbox-icon:before {
            border-color: #aaa;
        }
        .checkbox-icon:after {
            transition: opacity 0.25s ease-in-out;
        }
        color: #9df;
        .protocol-checkbox {
            margin-top: 10px;
            max-height: 1.2em;
            font-size: 12px;
            transform: scale(1);
            display: inline-block;
            transform-origin: left;
            color: #c1b17f;
            white-space: nowrap;
            a {
                color: #c1b17f;
                white-space: nowrap;
            }
        }
        .item-checkbox .checkbox {
            margin-top: -20px;
        }
    }
    background-image: url("../assets/images/login/bg-image.png");
    background-size: cover;
    background-position: center;
    &::before {
        content: "";
        position: absolute;
        width: 100%;
        height: 100%;
        background-color: rgba(42, 43, 63, 0.88);
        top: 0;
        left: 0;
    }
    &::after {
        content: "";
        position: absolute;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.2);
        top: 0;
        left: 0;
    }
    .register-warpper {
        display: flex;
        align-content: center;
        justify-content: center;
        flex-direction: column;
        .logo-container {
            height: 16.5vh;
            margin-top: 13.5vh;
            max-height: 150px;
            display: flex;
            justify-content: center;
            img {
                height: 100%;
            }
        }
        .register-form-container { 
            padding: 4vh 12.5vw 5vh;
            display: flex;
            flex-direction: column;
            .register-form-item {
                background-color: rgba(0, 0, 0, 0.2);
                border-radius: 0.4rem;
                margin: 0.4rem 0 .4rem;
                padding: 0;
                min-height: unset;
                position:relative;
                .item-inner {
                    border-bottom: none;
                }
                input {
                    padding: 0.8rem 0.6rem;
                    font-size: 1.4rem;
                    margin: 0.5rem;
                    &::-webkit-input-placeholder {
                        color: #6d6d6d;
                        font-size: 1.3rem;
                    }
                }
                .view-pwd-wrapper {
                    background-color: transparent;
                    width: 2.5rem!important;
                    height: 3rem!important;
                    padding: 0.5rem;
                    box-sizing: border-box;
                    display: inline-block;
                    margin: 0;
                    ion-icon {
                        display: block;
                        height: 100%;
                        width: 100%;
                    }
                }
                .send-vcode {
                    background-color: color($colors,special);
                    color: #FFF;
                    border-radius: 0.4rem;
                    // width: 7rem!important;
                    height: 2.4rem!important;
                    box-sizing: border-box;
                    display: inline-block;
                    margin: 0;
                    padding: 0.5rem;
                    font-weight: lighter;
                    font-size: 1.2rem;
                    &[disabled] {
                        opacity: .8;
                    }
                }
                .error-tip{
                    display: inline-block;
                    color: darkred;
                    font-size: 1.2rem;
                    text-shadow: 0 0 1rem #000;
                }
            }
            .forget-password {
                align-self: flex-end;
                margin-right: 0.3rem;
                color: #8b8b8b;
                font-size: 1rem;
            }
            .register-form-submit {
                border: 0.13rem solid #c1b17f;
                border-radius: 0.3rem;
                background-color: transparent;
                color: #c1b17f; // font-weight: bolder;
                font-size: 1.8rem;
                padding: 1.8rem 0; // margin-top: 2.4rem;
                transform: scale(1.02);
                font-weight: 400;
            }
            .pwd-strength{
                color: #c1b17f; // font-weight: bolder;
                margin: 0.5rem 0 0;
                font-size: 1rem;
            } 
        }
    }
    // 表单校验的样式
    ion-item{
        &.input-has-value.ng-invalid:not(.input-has-focus){
            background-color: rgba(255, 0, 0, 0.2)!important;
        }
        &.input-has-focus{
            box-shadow: 0 0 0.2rem rgba(255,255,255,0.2);
        }
    }
}