<!--
  Generated template for the RegisterPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
    <div class="paddingfix">
        <ion-navbar>
            <ion-title></ion-title>
        </ion-navbar>
    </div>
</ion-header>
 

<ion-content no-bounce>
    <div class="register-warpper">
        <div class="logo-container">
            <img src="assets/images/login/logo.png" alt="" class="logo">
        </div>
        <form class="register-form-container" [formGroup]="registerForm" (ngSubmit)="register()" novalidate>
            <ion-item class="register-form-item">
                <ion-input formControlName="customerId" class="account" placeholder="手机号/邮箱" (blur)='checkRegister()' (focus)="focusCustomerId()"></ion-input>
                <div item-right class="error-tip" *ngIf="form_customerId.errors?.wrongCustomerId">
                    账号格式错误/邮箱
                </div>
                <div item-right class="error-tip" *ngIf="!form_customerId.errors?.wrongCustomerId && registerCustomerId">
                    账号已存在
                </div>
            </ion-item>
            <ion-item class="register-form-item">
                <ion-input formControlName="vcode" class="number" placeholder="验证码">
                </ion-input>
                <button item-right type="button" class="send-vcode credit-submit-btn" style="z-index:9999" [disabled]="sending_vcode||resend_time_clock || check_sending_vcode" (click)="register_step1()">
          {{sending_vcode?'发送中':(resend_time_clock?(resend_time_clock+'s'):'获取验证码')}}</button>
            </ion-item>
            <ion-item class="register-form-item">
                <ion-input formControlName="password" class="password" type="password" placeholder="登录密码">
                </ion-input>
                <div item-right class="error-tip" *ngIf="form_password.errors?.minlength">
                    密码至少3位
                </div>
            </ion-item>
            <ion-item class="register-form-item">
                <ion-input formControlName="confirPassword" class="password" type="password" placeholder="确认密码">
                </ion-input>
                <div item-right class="error-tip" *ngIf="form_confirPassword.errors?.confirmError">
                    两次密码填写不一致
                </div>
            </ion-item>
            <ion-item class="register-form-item">
                <ion-input formControlName="recommendCode" class="password" placeholder="选填：推荐人">
                </ion-input>
            </ion-item>
            <div class="register-agree-protocol">
                <ion-checkbox color="dark" formControlName="protocolAgree" #agreement></ion-checkbox>
                <p class="protocol-checkbox" >
                    <a (click)="showModal()">币加所用户协议</a>
                </p>
            </div>
            <button ion-button class="register-form-submit" type="submit" [disabled]="registerForm.invalid || !agreement.value || !appDataService.ready || registering">
        注册
      </button>
        </form>
    </div>
</ion-content>