<!--
  Generated template for the RechargeDetailPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
    <ion-navbar>
        <ion-title>{{productInfo?.productDetail}}充值</ion-title>
    </ion-navbar>
</ion-header>
<ion-content>
    <div class="account-assets">
        <div class="assets-item balance">
            <ion-icon name="可用余额"></ion-icon>
            <div class="sub-title">可用余额</div>
            <div class="amount">{{access_info.balance/1e8|number:'1.4-4'}}</div>
        </div>
        <div class="assets-item frozen">
            <ion-icon name="冻结余额"></ion-icon>
            <div class="sub-title">冻结余额</div>
            <div class="amount">{{access_info.freezeBalance/1e8|number:'1.4-4'}}</div>
        </div>
    </div>
    <div class="recharge-address">
        <div class="title-bar">
            <div class="title">
                <ion-icon name="￥+"></ion-icon>
                充值地址
            </div>
            <button class="copy-button" ion-button (click)="copyCode()" [copy]="recharge_address.paymentAccountNumber">
                <ion-icon name="复制"></ion-icon>
                点击复制
            </button>
        </div>
        <div class="address-detail">
            <!-- <div class="qrcode-image">
				<kjua-qrcode class="qrcode" [config]="{label:recharge_address.paymentAccountNumber}"></kjua-qrcode>
			</div> -->
            <div class="hash-code">
                <ng-container *ngIf="recharge_address?.paymentAccountNumber;else noAddress">
                    {{recharge_address.paymentAccountNumber}}
                </ng-container>
                <ng-template #noAddress>
                    <i>无可用地址</i>
                </ng-template>
            </div>
        </div>
    </div>
    <div class="prompt">
        <div class="content">
            <ion-icon name="警告"></ion-icon>
            <!-- 您的比特币汇入上述地址后,需要整个比特币网络节点的确认,为了快速到账,您可以向比特币网络支付少量的手续费。到账时间为1次网络确认后(一般是10分钟-60分钟之间)。最小\充值金额是:0.0001。您的比特币地址不会经常改变,可以重复充值;如有更改,我们会尽量通过网站公告或消息通知您。 -->
            禁止充值除{{productInfo?.productDetail}}以外的其他资产,任何非{{productInfo?.productDetail}}资产将不可被找回。{{minRechargeText}}充值后需要等待区块确认,为了快速到账,可适当提高充值手续费。
        </div>
    </div>
    <div class="recharge-logs">
        <div class="title">充值记录</div>
        <div class="no-entrust" *ngIf="!transaction_logs || transaction_logs.length == 0">暂无充值记录~</div>
        <div class="recharge-log" *ngFor="let tlog of transaction_logs">
            <div class="base-info">
                <div class="type-name">{{tlog.productDetail}}</div>
                <div class="time-at">
                    <ion-icon name="ios-time-outline"></ion-icon>
                    {{tlog.createdAt|date:'y-M-d H:mm:ss'}}
                </div>
                <div class="status">{{tlog.dealResultDetail}}</div>
            </div>
            <div class="detail-info">
                <div class="recharge-amount">
                    <div class="sub-title">
                        充值数量
                    </div>
                    <div class="value">{{tlog.amount/1e8|number:'1.4-4'}}</div>
                </div>
                <!-- <div class="recharge-to">
					<div class="sub-title">
						充值到
					</div>
					<div class="value">IBT</div>
				</div> -->
                <div class="recharge-address">
                    <div class="sub-title">
                        充值地址
                    </div>
                    <div class="value">
                        <div>{{tlog.rechargeAddress}}</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--加载更多-->
    <ion-infinite-scroll [enabled]="has_more_recharge_logs" (ionInfinite)="loadMoreRechargeLogs($event)">
        <ion-infinite-scroll-content loadingText="正在加载...">
        </ion-infinite-scroll-content>
    </ion-infinite-scroll>
</ion-content>