<!--
  Generated template for the AddAddressPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
        <ion-navbar>
            <ion-buttons left (click)="finishSelect(false)">
                <button ion-button ion-only>
                    <ion-icon name="arrow-back" left class="withdraw-back"></ion-icon>
                </button>
            </ion-buttons>
            <ion-title>添加地址</ion-title>
        </ion-navbar>
</ion-header>
<ion-content>
    <ion-list class="common-form">
        <ion-item>
            <ion-label class="form-label with-left-baseline" color="primary" style="width:6rem;">地址名称</ion-label>
            <ion-input [(ngModel)]="formData.name" placeholder="请填写地址名称"></ion-input>
        </ion-item>
        <ion-item>
            <ion-label class="form-label with-left-baseline" color="primary">地址</ion-label>
            <ion-input [(ngModel)]="formData.address" placeholder="请填写地址"></ion-input>
        </ion-item>
        <ion-item>
            <ion-label class="form-label with-left-baseline" color="primary">验证</ion-label>
            <ion-list item-end *ngIf="check_method_options" class="radio-list" radio-group [(ngModel)]="formData.check_method">
                <ion-item *ngFor="let check_method_opt of check_method_options">
                    <ion-label>{{check_method_opt.value}}</ion-label>
                    <ion-radio checked="true" [value]="check_method_opt"></ion-radio>
                </ion-item>
            </ion-list>
        </ion-item>
        <ion-item>
            <ion-label class="form-label with-left-baseline" color="primary">验证码</ion-label>
            <ion-input [(ngModel)]="formData.vcode" placeholder="请填写验证码"></ion-input>
            <button (vcode-sender)="$event.waitFor(sendValidate())" [disabled]="!formData.check_method" ion-button item-end color="special">获取验证码</button>
        </ion-item>
    </ion-list>
    <div class="submit-wrapper">
        <button block ion-button color="special" [disabled]="!canSubmit" (click)="submitAddAddress()">完成添加</button>
    </div>
</ion-content>