page-withdraw-detail {
	ion-icon[name='添加'] {
		background-image: url('../assets/icon/添加.png');
	}
	ion-icon[name='￥✏'] {
		background-image: url('../assets/icon/￥✏.png');
	}
	ion-list {
		// margin-top: 1rem !important;
		margin-bottom: 0 !important;
		ion-item-divider.item-divider {
			ion-label {
				display: none;
			}
			&.right-link {
				ion-label {
					text-align: right;
					display: block;
					font-size: 1.2rem;
					color: #3997ee;
					margin: 0.35rem 1.6rem;
				}
			}
			&.left-link {
				ion-label {
					text-align: left;
					font-size: 1.2rem;
					color: color($colors, 'special');
					margin: 0.35rem 1.6rem;

					display: flex;
					flex-direction: row;
					align-items: center;
				}
			}
			ion-icon {
				width: 1.1rem;
				height: 1.1rem;
				background-size: contain;
				background-repeat: no-repeat;
				background-position: center;
				margin-right: 0.3rem;
			}
		}
		ion-item.item-block {
			background-color: color($colors, alpha-dark);
			margin-top: 0.55px;
			&.follow-pre-item {
				margin-top: 0;
			}
			&.bg-transparent {
				background: transparent;
			}
			ion-label {
				font-size: 1.4rem;
				// color: color($colors, 'special');
			}
			.withdraw-to {
				font-size: 1.4rem;
				position: relative;
				flex-shrink: 0;
				flex-grow: 1;
				> i {
					color: rgba(#fff, 0.8);
					display: flex;
					align-items: center;
					justify-content: center;
					ion-icon {
						width: 1.3rem;
						height: 1.3rem;
						background-size: contain;
						background-repeat: no-repeat;
						background-position: center;
					}
				}

				.button-inner {
					justify-content: flex-end;
				}
			}
			.account-selector {
				background: transparent;
				display: flex;
				flex-direction: row;
				justify-content: center;
				align-items: center;
				margin-right: 0rem;
				max-width: 80%;
				.account-info {
					display: flex;
					flex-direction: column;
					align-items: flex-end;
					.account-name {
						color: color($colors, 'special');
						font-size: 1.4rem;
					}
					.account-amount,
					.account-code {
						padding-top: 0.2rem;
						color: color($colors, 'lightdark');
						font-size: 1.2rem;
						max-width: 62vw;
						white-space: nowrap;
						text-overflow: ellipsis;
						overflow: hidden;
					}
					padding-right: 1rem;
				}
				ion-icon {
					flex-grow: 0;
				}
			}
		}
		ion-input.input {
			font-size: 1.4rem;
		}
		ion-input.rtl {
			input {
				// direction: rtl;
				text-align: right;
			}
		}
		.transfer-tip {
			padding: 1rem 2rem;
			font-size: 1.2rem;
			color: color($colors, 'lightdark');
		}
		.submit-btn {
			height: 3.6rem !important;
			.button-inner {
				font-size: 1.9rem;
			}
			padding: 1rem;
			width: 90vw;
		}
	}
	.scroll-content > .withdraw-logs {
		> .title {
			padding: 1rem;
			font-size: 1.3rem;
		}
		.withdraw-log {
			.base-info {
				background-color: color($colors, 'alpha-dark');
				display: flex;
				flex-direction: row;
				align-items: center;
				// height: 3rem;
				padding: 1rem;
				.type-name {
					font-size: 1.5rem;
					color: color($colors, 'special');
				}
				.time-at {
					flex: 1;
					text-align: center;
					font-size: 1.2rem;
					color: #6d6d6d;
				}
				.status {
					font-size: 1.5rem;
					color: color($colors, 'special');
				}
			}
			.detail-info {
				display: flex;
				flex-direction: row;
				justify-content: space-between;
				align-items: center;
				.withdraw-amount,
				.withdraw-to,
				.withdraw-address {
					box-sizing: border-size;
					margin: 0.6rem 0;
					padding: 0 1rem;
					width: 33vw;
					flex-grow: 0;
					flex-shrink: 1;
					display: flex;
					flex-direction: column;
					justify-content: center;
					align-items: center;
					overflow: hidden;
					.sub-title {
						font-size: 1.3rem;
						color: color($colors, 'lightdark');
						margin-bottom: 0.6rem;
					}
					.value {
						font-size: 1.4rem;
						color: color($colors, 'special');
						white-space: nowrap;
						text-overflow: ellipsis;
						overflow: hidden;
						max-width: 100%;
					}
				}
				.withdraw-to {
					position: relative;
					padding: 0;
					&::before,
					&::after {
						content: '';
						display: block;
						width: 1px;
						height: 80%;
						top: 10%;
						position: absolute;
						background-color: #222333;
					}
					&::before {
						left: 0;
					}
					&::after {
						right: 0;
					}
					// border-left: 1px solid #222333;
					// border-right: 1px solid #222333;
				}
			}
		}
	}
}
