<ion-header class="animation-header">
  <ion-navbar>
    <ion-title>我的资产</ion-title>
  </ion-navbar>
  <ion-grid>
    <ion-row>
      <ion-col class="total"  (click)="toggleVisible($event)">
        <div class="value">{{ appDataService.HIDE_ASSETS  || (personalAssets?.asset?.total | quantityConversion  | changeCurrency | numberUnitFormat:true:false:2)}}</div>
        <div class="text">总资产 ({{unit}}) <span class="visible" [class.on]="!appDataService.HIDE_ASSETS " [class.off]="!!appDataService.HIDE_ASSETS "></span></div>
      </ion-col>
      <!-- <ion-col class="profit">
        <div class="value">{{dayTotal || "0" | quantityConversion | numberUnitFormat:true:true:4 }}</div>
        <div class="text">盈亏 (24h)</div>
      </ion-col> -->
    </ion-row>
  </ion-grid>
</ion-header>
<ion-content no-bounce>
  <!--下拉刷新-->
  <!-- <ion-refresher (ionRefresh)="initData($event)">
    <ion-refresher-content refreshingText="{{'RENEWING'|translate}}...">
    </ion-refresher-content>
  </ion-refresher> -->
  <ion-grid #listGrid no-padding text-center class="col-center-center">
    <ion-row nowrap *ngFor="let data of optionalStockDetailList" class="bottom-hr"
    (click)="goAssetBillDetail(data.productInfo,data.personalData)"
       >
      <ion-col class="light-transparent" padding>
        <div class="col1">
            <img src="assets/images/{{(data?.baseData | async)?.name}}.png" alt="">
        </div>
        <div class="col2">
            <h5>{{(data?.baseData | async)?.name || '----'}}</h5>
            <h6> <span class="picasso-icon-about"></span> {{data?.personalData?.currentPrice| quantityConversion  | changeCurrency | numberUnitFormat:true:false:2}} <span class="unit"> {{unit}}</span></h6>
        </div>
        <!-- <div class="frozen">
          <span class="font-smaller">{{'FREEZE_1'|translate}}</span>
          <span class="color-rise">{{data?.personalData?.freezeQuantity| quantityConversion | numberUnitFormat:true:false:8}}</span>
        </div> -->
      </ion-col>
      <ion-col class="light-transparent right" padding>
        <div class="col3">
            <h5>{{ appDataService.HIDE_ASSETS  ||(data?.personalData?.restQuantity | quantityConversion | numberUnitFormat:true:false:8)}}</h5>
            <h6>{{ appDataService.HIDE_ASSETS  ||(data?.personalData?.totalPrice | quantityConversion | changeCurrency | numberUnitFormat:true:false:2)}}<span class="unit" *ngIf="!appDataService.HIDE_ASSETS"> {{unit}}</span></h6>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>

