<ion-header class="option-header">
  <ion-grid no-padding text-center class="optional-header">
    <ion-row>
      <ion-col class="padding">
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col class="title-col">
        <h1>{{personalAssets?.asset?.total | quantityConversion}}</h1>
        <h6>总资产{{personalAssets?.asset?.priceName}}</h6>
      </ion-col>
    </ion-row>
    <ion-row class="info-row">
      <ion-col>
        <h6 no-margin-bottom>{{personalAssets?.dayProfit?.total | quantityConversion | numberUnitFormat:true:true:8 | positiveSign}}</h6>
        <span class="h7">今日盈亏</span>
      </ion-col>
      <ion-col class="split-line">
        <div></div>
      </ion-col>
      <ion-col>
        <h6 no-margin-bottom>{{personalAssets?.monthProfit?.total | quantityConversion | numberUnitFormat:true:true:6 | positiveSign}}</h6>
        <span class="h7">每月盈亏</span>
      </ion-col>
    </ion-row>
      <!-- <ion-scroll #listHeader scrollX="true" scrollY="true">   -->
      <ion-row nowrap class="list-header">
        <ion-col col-4 padding class="title">全部</ion-col>
        <ion-col col-4 padding class="title">持仓</ion-col>
        <ion-col col-4 padding class="title">涨幅</ion-col>
        <!-- <ion-col col-4 padding class="title">持仓成本</ion-col>
        <ion-col col-4 padding class="title">盈亏</ion-col> -->
      </ion-row>  
      <!-- </ion-scroll>   -->
  </ion-grid>
</ion-header>

<ion-content no-bounce>
  <!--下拉刷新-->
  <ion-refresher (ionRefresh)="initData($event)">
    <ion-refresher-content refreshingText="正在刷新...">
    </ion-refresher-content>
  </ion-refresher>
  
  <ion-grid #listGrid no-padding text-center class="col-center-center">
    <ion-row nowrap *ngFor="let data of optionalStockDetailList; trackBy: (data?.baseData | async)?.stockCode;" class="bottom-hr"
    (click)="routeTo('recharge-detail',{productInfo:data.productInfo})"
       ><!-- tappable [navPush]="stockDetailPage" [navParams]="(data?.baseData | async)?.stockCode"> -->
      <ion-col class="light-transparent" col-4 padding>
        <div class="col1">
          <h5>{{(data?.baseData | async)?.name || '----'}}</h5>
          <div *ngIf="true">
            <span class="font-smaller">最新价</span>
            <span class="{{(data?.realtimePrice | async)?.range | riseOrFall}}">{{(data?.realtimePrice | async)?.price | priceConversion | numberFilter:true}}</span>
          </div>
          <!-- <span *ngIf="!true">{{(data?.baseData | async)?.stockCode}}</span> -->
          <!-- <h6 *ngIf="false">总市价：{{(data?.baseData | async)?.marketInfo?.marketValue /this.appSettings.Price_Rate}}</h6> -->
        </div>
      </ion-col>
      <ion-col class="light-transparent" col-4 padding>
        <div class="col2">
          <h4 class="color-rise">{{data?.personalData?.restQuantity| quantityConversion}}</h4>
          <!-- <h6 *ngIf="false">换手率：{{(data?.baseData | async)?.marketInfo?.turnoverRate | percent:'.2-2'}}</h6> -->
        </div>
      </ion-col>
      <ion-col class="light-transparent" col-4 padding>
        <div class="col3">
          <h6 class="{{(data?.realtimePrice | async)?.range | riseOrFall}}">{{(data?.realtimePrice | async)?.range | percent:'.2-2' | positiveSign}}</h6>
          <!-- <h6 *ngIf="false">流通市值：{{(data?.baseData | async)?.circulationValue/this.appSettings.Price_Rate}}</h6> -->
        </div>
      </ion-col>
      <ion-col class="light-transparent" col-4 padding>
        <div class="col2">
          <h4>{{data?.personalData?.cost/this.appSettings.Price_Rate | number:'.2-2'}}</h4>
        </div>
      </ion-col>
      <ion-col class="light-transparent" col-4 padding>
        <div class="col2">
          <h4 class="{{(data?.baseData | async)?.PNL | riseOrFall}}">{{data?.personalData?.PNL | number:'.2-2'}}</h4>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
  <!-- </ion-scroll> -->
  <!-- <tri-col-list-component [listData]="optionalStockDetailList" [showDetail]="false" [isOption]="true"></tri-col-list-component> -->

</ion-content>

