<ion-header>
    <ion-navbar>
        <ion-title>行情</ion-title>
        <ion-buttons right padding-horizontal>
            <button ion-button [navPush]="searchItemPage">
                <ion-icon class="large-icon" name="search"></ion-icon>
            </button>
        </ion-buttons>
    </ion-navbar>
</ion-header>

<ion-content class="home-contain">
    <!-- 
       [echartsData]="_realtimeData$ | async" 实时的price
       [tradingTimeArray]="appSettings.tradingTimeArray" 图表时间区间
       [baseData]="_baseData$ | async"  昨天的价格
       [options]="realtimeOptions"  图表的设置
    -->
    <!-- <div *ngFor="let i of tempArray" class="qhd">
      <realtime-charts-component
        *ngIf="_thisPageActive"
       [echartsData]="_realtimeData$ | async"
       [tradingTimeArray]="appSettings.tradingTimeArray"
       [baseData]="_baseData$ | async"
       [options]="realtimeOptions">
      </realtime-charts-component>
      <div class="qcont quotcont">
        <div class="title">
         <h6>高交所指数</h6>
         <h3 class="{{showData?.changeValue | riseOrFall}} big">{{showData?.latestPrice | number:'.2-2' | numberFilter}}</h3>
         <span class="font-smaller">
           <label class="{{showData?.changeValue | riseOrFall}}">{{showData?.changeValue | number:'.2-2' | positiveSign}}
           </label>
           <label class="{{showData?.changeValue | riseOrFall}}">{{showData?.changeRate | percent:'.2-2' | positiveSign}}</label>
         </span>
       </div>
     </div>
    </div> -->

    <div *ngFor="let trader of traderList" class="qhd">
        <realtime-report *ngIf="_thisPageActive"
            tappable [navPush]="tradeInterface" [navParams]="trader.traderId"
            [echartsData]="trader?.reportRef | async" 
            [options]="realtimeOptions" >
        </realtime-report>
        <div class="qcont quotcont">
            <div class="title">
                <h6>{{trader.traderName}}</h6>
                <!-- <h3 class="{{showData?.changeValue | riseOrFall}} big">{{showData?.latestPrice | number:'.2-2' | numberFilter}}</h3>
                <span class="font-smaller">
                    <label class="{{showData?.changeValue | riseOrFall}}">{{showData?.changeValue | number:'.2-2' | positiveSign}}
                    </label>
                    <label class="{{showData?.changeValue | riseOrFall}}">{{showData?.changeRate | percent:'.2-2' | positiveSign}}</label>
                </span> -->
                <span class="font-smaller">
                    <label class="{{showData?.changeValue | riseOrFall}}">最新价 </label>
                    {{(trader?.marketRef | async)?.price/100 | number:'.2-5'}}
                </span>
                <span class="font-smaller">                
                    <label class="{{showData?.changeValue | riseOrFall}}">成交量 </label>
                    {{(trader?.marketRef | async)?.amount | number:'.2-5'}}                
                </span>
            </div>
        </div>
    </div>

    <!-- <div class="quotitle">
        <ion-scroll scrollX="true" scrollFixX>
            <div *ngFor="let item of stockDataService.sectorList; let i = index; trackBy item?.sectorType" (click)="changeActive(i)" tappable class="item" text-center>
                <span [class.active-underline]="activeIndex.getValue() === i">{{item.sectorName}}</span>
            </div>
        </ion-scroll>
    </div>
    <div class="quotcont">
            <div class="slides" tappable [navPush]="quotationDetailPage" [navParams]="activeSectorType">
                <h6>{{stockDataService.sectorList[activeIndex.getValue()]?.sectorName}}</h6>
                <h3 class="{{showData?.changeValue | riseOrFall}}">{{showData?.latestPrice | number:'.2-2' | numberFilter}}</h3>
                <span class="font-smaller">
                    <label class="{{showData?.changeValue | riseOrFall}}">{{showData?.changeValue | number:'.2-2' | positiveSign}}
                    </label>
                    <label class="{{showData?.changeValue | riseOrFall}}">{{showData?.changeRate | percent:'.2-2' | positiveSign}}</label>
                </span>
            </div>
            <div class="slideselem">
                <realtime-charts-component
                  *ngIf="_thisPageActive"
                 [echartsData]="_realtimeData$ | async"
                 [tradingTimeArray]="appSettings.tradingTimeArray"
                 [baseData]="_baseData$ | async"
                 (tooltipEmitted) = "showRealtimeQutationTooltip($event)"
                 [options]="realtimeOption">
                </realtime-charts-component>
            </div>
    </div> -->
</ion-content>