page-currency-type-list {
    ion-item {
        padding: 1rem !important;
        position: relative;
    }
    .icon-currency {
        position: absolute;
        right: 2rem;
        font-size: 2rem;
    }
    .vertical-center {
        font-size: 1.5rem;
        margin-bottom: 0.1rem;
        background-color: #262739;
    }
}
