account-center {
    .account-contain {
        ion-grid {
            ion-row {
                padding: 0 1.5rem;
                margin-top: 1px;
                height: 5.2rem;
                line-height: 5.2rem;
                background-color: color($colors, background-darker);
                ion-col {
                    font-size: 1.4rem;
                    padding: 0 !important;
                    .f-right {
                        float: right;
                        color: color($colors, special);
                        font-size: 1.3rem;
                        height: 100%;  
                        ion-toggle {
                            top: 50%;
                            transform: translateY(-50%); 
                            &.true-color {
                                .toggle-icon {
                                    background-color: color($colors, rise-true); 
                                }
                            }
                            .toggle-icon {
                                background-color: color($colors, rise);
                                &:before {
                                    background-color: color($colors, rise-true);
                                }
                            }
                            .toggle-inner {
                                background-color: #fff;
                            }
                        }
                        &.no-identify {
                            color: color($colors, middark);
                        }
                    }
                }
            }
        }
        ion-item {
            padding-left: 0;
            font-size: 1.4rem;
            background-color: transparent;
            height: 100%;
            .item-inner {
                padding-right: 0!important;
                ion-toggle {
                    padding-right: 0; 
                }

            }
            ion-toggle {
                .toggle-icon {
                    background-color: #fff;
                }
                .toggle-inner {
                    background-color: #fff;
                    left: 1px;
                }
                &.toggle-checked {
                    .toggle-inner {
                        background-color: color($colors, background-darker);
                        
                    }
                }
            }
        }
        .account-exit {
            margin-top: 2rem;
            background-color: color($colors, background-darker);
            .exit-center {
                text-align: center;
                font-size: 1.4rem;
            }
        }
        .picasso-icon-k {
            color: transparent;
            background-repeat: no-repeat;
            background-size: 100% 100%;
            font-size: 1.8rem;
            &.green {
                background-image: url(../assets/icon/k-green.png);
            }
            &.red {
                background-image: url(../assets/icon/k-red.png);
            }
        }
    }
}
