<ion-header>
  <ion-navbar>
    <ion-title>{{'ACCOUNT_CENTER'|translate}}</ion-title>
  </ion-navbar>
</ion-header>
<ion-content no-bounce class="account-contain">
  <ion-grid *ngIf="login_status" no-padding>
    <!-- <ion-row class="bottom-line" (click)="identify()">
      <ion-col padding class="vertical-center">
        {{'REAL_NAME_VERIFICATION'|translate}}<span class="f-right" [class.no-identify]="!personalDataService.realname">{{personalDataService.realname || personalDataService.certifiedMsg}}</span>
      </ion-col>
    </ion-row> -->
    <!-- <ion-row class="bottom-line" *ngIf="false">
      <ion-col padding class="vertical-center">
        身份证号<span class="f-right">{{personalDataService.idcardnumber | numMask:6:4}}</span>
      </ion-col> 
    </ion-row> -->
    <ion-row class="bottom-line" *ngIf="personalDataService.mobile">
      <ion-col padding class="vertical-center">
        {{'MOBILE_PHONE_NUMBER'|translate}}<span class="f-right">{{personalDataService.mobile | numMask}}</span>
      </ion-col>
    </ion-row>
    <ion-row class="bottom-line" *ngIf="personalDataService.email">
      <ion-col padding class="vertical-center">
        {{'EMAIL_ADDRESS'|translate}}
        <span class="f-right">{{personalDataService.email}}</span>
      </ion-col>
    </ion-row>
    <ion-row class="bottom-line" >
      <ion-col padding class="vertical-center" (click)="checkUpdate()">
        检查更新<span class="f-right">{{appDataService.APP_VERSION}}</span>
      </ion-col>
    </ion-row>
    <ion-row class="bottom-line" >
      <ion-col padding class="vertical-center"  (click)="currencyTypePage()">
        计价方式<span class="f-right">{{appDataService.CURRENCY_INFO?.currencyTo}} <span class="picasso-icon-right-arrow"></span> </span>
      </ion-col>
    </ion-row>
      <!-- <ion-row class="bottom-line" >
      <ion-col padding class="vertical-center"  >
        {{'CHECK_UPDATE'|translate}}<span class="f-right">{{appDataService.APP_VERSION}}</span>
      </ion-col>
    </ion-row> -->
    <ion-row class="bottom-line" >
      <ion-col padding class="vertical-center rise-or-fall-toggle" (click)="goCurrencySettingPage()">
        涨跌颜色
        <span class="f-right"><span class="picasso-icon-k {{!!appDataService.risefallColor?'red':'green'}}"></span> <span class="picasso-icon-right-arrow"></span></span>
      </ion-col>
    </ion-row>
    <ion-row class="bottom-line" >
      <ion-col padding class="vertical-center">
          <ion-item>
              <ion-label>K线图</ion-label>
              <ion-toggle [(ngModel)]="appDataService.kLine"></ion-toggle>
          </ion-item>
      </ion-col>
    </ion-row>
    <ion-row class="bottom-line" >
      <ion-col padding class="vertical-center">
          <ion-item>
              <ion-label>{{"GESTURE" | translate}}</ion-label>
              <ion-toggle [(ngModel)]="hasGestureLockToggle"  (ionChange)="gestureLockFunc()"></ion-toggle>
          </ion-item>
      </ion-col>
    </ion-row>
    <ion-row class="bottom-line" >
      <ion-col padding class="vertical-center"  (click)="network()">
        {{'SETTINGS_NET_VERSION'|translate}}
        <span class="f-right"><span class="picasso-icon-right-arrow"></span> </span>
      </ion-col>
    </ion-row>
    <ion-row class="bottom-line" navPush="modify-pwd">
      <ion-col padding class="vertical-center">
        {{'EDIT_LOGIN_PASSWORD'|translate}}
        <span class="f-right"><span class="picasso-icon-right-arrow"></span> </span>
      </ion-col>
    </ion-row>
    <ng-container *ngIf="!loading_has_account_pwd">
      <ion-row class="bottom-line" (click)="routeTo('set-pay-pwd')">
        <ion-col padding class="vertical-center">
          {{(has_account_pwd?'RESET_1':'SET_1') | translate}}{{'ACCOUNT_TRANSACTION_PASSWORD'|translate}}
          <span class="f-right"><span class="picasso-icon-right-arrow"></span> </span>
        </ion-col>
      </ion-row>
    </ng-container>
  </ion-grid>
  <ion-row *ngIf="login_status" tappable class="account-exit" (click)="doLogout()">
    <ion-col padding class="exit-center">
      {{'LOGOUT'|translate}}
    </ion-col>
  </ion-row>
  <ion-row *ngIf="!login_status" tappable class="account-exit" (click)="showLogin()">
    <ion-col padding class="exit-center">
      {{'LOGINS'|translate}}
    </ion-col>
  </ion-row>

</ion-content>