<ion-header>
  <ion-navbar>
    <ion-title>账户中心</ion-title>
  </ion-navbar>
</ion-header>
<ion-content no-bounce class="account-contain">
  <ion-grid no-padding>
    <ion-row class="bottom-line" (click)="identify()">
      <ion-col padding class="vertical-center">
        实名认证<span class="f-right">{{personalDataService.realname}}</span>
      </ion-col>
    </ion-row>
    <!-- <ion-row class="bottom-line" *ngIf="false">
      <ion-col padding class="vertical-center">
        身份证号<span class="f-right">{{personalDataService.idcardnumber | numMask:6:4}}</span>
      </ion-col>
    </ion-row> -->
    <ion-row class="bottom-line" *ngIf="personalDataService.mobile">
      <ion-col padding class="vertical-center">
        手机号码<span class="f-right">{{personalDataService.mobile | numMask}}</span>
      </ion-col>
    </ion-row>
    <ion-row class="bottom-line" *ngIf="personalDataService.email">
      <ion-col padding class="vertical-center">
        邮箱地址
        <span class="f-right">{{personalDataService.email}}</span>
      </ion-col>
    </ion-row>
    <ion-row class="bottom-line" navPush="modify-pwd">
      <ion-col padding class="vertical-center">
        修改登录密码
      </ion-col>
    </ion-row>
    <ng-container *ngIf="!loading_has_account_pwd">
      <ion-row class="bottom-line" (click)="routeTo('set-pay-pwd')">
        <ion-col padding class="vertical-center">
          {{has_account_pwd?'重置':'设置'}}交易密码
        </ion-col>
      </ion-row>
    </ng-container>
  </ion-grid>
  <ion-row tappable class="account-exit" (click)="loginService.doLogout()">
    <ion-col padding class="exit-center">
      退出账号
    </ion-col>
  </ion-row>

</ion-content>