page-withdraw-gateway {
	ion-list {
		margin-top: 1rem !important;
		ion-item-divider.item-divider {
			min-height: 1rem;
			ion-label {
				display: none;
			}
		}
		ion-item.item-block {
			background-color: color($colors, alpha-dark);
			margin-top: 0.55px;
			ion-label {
				color: color($colors, 'special');
			}
		}
	}
}
