page-home {
    .home-header {
        background: linear-gradient(to bottom, color($colors, gold), #2a2b3f);
        .personal {
            margin: 1rem 0 0.8rem;
            ion-row {
                text-align: center;
            }
            .realname {
                height: 1.6rem;
                font-size: 1.6rem;
                margin-bottom: 0.6rem;
            }
            .mobile,
            .email,
            .bedge {
                font-size: 1.2rem;
                line-height: 1.2rem;
                margin-bottom: 0.7rem;
            }
            .bedge {
                img {
                    height: 1.9rem;
                    width: auto;
                    // display: inline-block;
                    // padding-left: 2.4rem;
                    // height: 1.9rem;
                    // line-height: 1.9rem;
                    // background-image: url('../assets/icon/home-beage.png');
                    // background-position: center;
                    // background-size: 100% 100%;
                }
                button {
                    color: color($colors, primary);
                    height: 1.9rem;
                    width: 7.6rem;
                    border-radius: 0.95rem;
                    background-color: color($colors, special);
                }
            }
        }
        .assets-title {
            color: color($colors, lightdark);
            font-size: 1.2rem;
            margin-bottom: 1rem;
        }
        .assets-amount {
            color: color($colors, special);
            font-size: 1.6rem;
            margin-bottom: 2rem;
        }
        .notice {
            background-color: rgba(255, 255, 255, 0.2);
            height: 2.3rem;
            line-height: 2.3rem;
            padding-left: 1.7rem;
            ion-col {
                text-align: left;
            }
            span {
                margin-left: 0.5rem;
                font-size: 1.2rem;
                color: color($colors, lightdark);
            }
        }
    }
    .home-contain {
        .main-button {
            height: 6.7rem;
            background-color: color($colors, background-darker);
            margin-bottom: 0.8rem;
            img {
                margin-top: 1.4rem;
                width: 2.2rem;
                height: 2rem;
            }
            span {
                display: block;
                margin: 0;
            }
        }
        ion-row {
            padding: 0 1.5em;
            border-color: #4a2925;
            ion-col span {
                font-size: 1.3rem;
                vertical-align: -0.1rem;
                margin-left: 1rem;
            }
            &.bottom-space {
                margin-bottom: 0.8em;
            }
        }
    }
    // 图标
    .ion-ios-gnotice::before {
        content: "";
        background-image: url("../assets/icon/notice.png");
    }
    .ion-ios-gcard::before {
        background-image: url("../assets/images/mine/身份认证icon.png");
    }
    .ion-ios-gdoc::before {
        background-image: url("../assets/images/mine/历史成交记录icon.png");
    }
    .ion-ios-gtrend::before {
        background-image: url("../assets/images/mine/资金变动查询icon.png");
    }
    .ion-ios-gperson::before {
        background-image: url("../assets/images/mine/账户中心icon.png");
    }
    .ion-ios-ghelp::before {
        background-image: url("../assets/images/mine/反馈与帮助icon.png");
    }
    .ion-ios-gabout::before {
        background-image: url("../assets/images/mine/关于我们icon.png");
    }
    .ion-ios-ginvite::before {
        content: "";
        background-image: url("../assets/images/mine/邀请返佣icon.png");
    }
    .vertical-center {
        color: rgba(255, 255, 255, 0.9);
        ion-icon::before {
            background-size: contain;
            width: 1.4rem;
            height: 1.4rem;
        }
        span {
            letter-spacing: 0.1rem;
        }
    }
    // 右上角的设置图标
    .home-settings-icon {
        width: 100%;
        // position: absolute;
        // top: 1.5rem;
        padding: 1rem 1rem 0 0;
        height: 1.9rem;
        line-height: 1.9rem;
        z-index: 1;
        font-size: 1.9rem;
        color: #fff;
        transform: translate(-0.2rem, 0.7rem);
    }
    .home-settings-img {
        width: 1.9rem;
        transition: transform 0.4s ease;
    }
    .home-settings-img:active {
        transform: rotate(360deg);
    }
}
