
<ion-header class="color-primary home-header">
      <ion-navbar>

  <ion-grid no-padding text-center>
    <ion-row class="home-settings-icon bar-tops">
      <!-- <ion-col col-11></ion-col> -->
      <ion-col tappable col-1 offset-11 (click)="routeTo('account-center-old')">
        <img src="assets/images/mine/setting-icon.png" alt="" class="home-settings-img" />
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col class="personal">
        <div class="realname">{{personalDataService.realname}}</div>
        <div class="mobile">{{personalDataService.mobile}}</div>
        <div class="email">{{personalDataService.email}}</div>
        <div class="bedge">
          <button *ngIf="!login_status" (click)="showLogin()">{{'LOGIN'|translate}}</button>
          <img *ngIf="login_status" tappable src="assets/icon/home-beage1.png" alt="">
        </div>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <div class="assets-title">
          {{'TOTAL_ASSETS_AVAILABLE'|translate}}{{personalAssets?.asset?.priceName}}
          <div class="visible" [class.on]="!appDataService?.hiddentext" [class.off]="!!appDataService?.hiddentext" (click)="toggleVisible($event)"></div>
        </div>
        <div class="assets-amount">
          {{appDataService?.hiddentext||(personalAssets?.asset?.total | quantityConversion)}}
          <div><i class="picasso-icon-about"></i> {{currencyPrice| priceConversion:5 | numberFilter:true}} {{appDataService.CURRENCY_INFO?.currencyTo}}</div>
        </div>
      </ion-col>
    </ion-row>
    <ion-row class="notice" *ngIf="false">
      <ion-col class="vertical-center">
        <ion-icon name="gnotice" ios color="important" class="vertical-center"></ion-icon>
        <span>{{'THIS_IS_AN_ADVERTISEMENT'|translate}}~</span>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-navbar>

</ion-header>
<ion-content no-bounce class="home-contain">
  <ion-grid no-padding>
    <ion-row class="main-button" text-center>
      <ion-col col-6 (click)="navPush('recharge-gateway',true)">
        <img src="assets/icon/充值.png" alt="">
        <span>{{'DEPOSIT'|translate}}</span>
      </ion-col>
      <ion-col col-6 (click)="navPush('withdraw-gateway',true)">
        <img src="assets/icon/提现.png" alt="">
        <span>{{'WITHDRAW'|translate}}</span>
      </ion-col>
    </ion-row>
    <ion-row *ngFor="let data of commandData" tappable (click)="navPush(data.href,data.needLogin)" class="dark-8-transparent bottom-hr" [class.bottom-space]="data.bottomSpace">
      <ion-col padding class="vertical-center">
        <ion-icon name="{{data.icon}}" ios color="important" class="vertical-center"></ion-icon>
        <span>{{data.name|translate}}</span>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>