<ion-header>
    <ion-navbar>
        <ion-grid no-padding>
            <ion-row class="title-header">
                <ion-col class="tab-list">
                    <span class="tab-item" (click)="tabClick(0)">公告</span>
                    <span class="tab-item" (click)="tabClick(1)">新闻</span>
                    <div class="tab-tale" [ngClass]="'tab-pos-'+(tabIndex+1)"></div>
                </ion-col>
                <ion-buttons right padding-horizontal 
                    [style.visibility]="showSearch? 'hidden':'visible'" 
                    (click)="toShowSearch()">
                    <button class="button_self" ion-button>
                        <ion-icon class="large-icon" name="search"></ion-icon>
                    </button>
                </ion-buttons>
                <ion-toolbar [hidden]="!showSearch" class="searchbar">
                    <div #searchInputWrap class="searchInput">
                        <!-- <div class="icon"></div> -->
                        <ion-item no-padding no-lines>
                            <ion-input #searchInput type="text" clearInput (ionChange)="search(searchInput.value)">
                            </ion-input>
                        </ion-item>
                    </div>
                    <ion-buttons right (click)="cancelFilter()">
                        <button ion-button navPop>取消</button>
                    </ion-buttons>
                </ion-toolbar>
            </ion-row>
        </ion-grid>
    </ion-navbar>
</ion-header>
<!-- <ion-content class="card-background-page bg-in"> -->
<ion-content #content>
    <ion-slides (ionSlideDidChange)="slideChanged()">
        <ion-slide>
            <ion-content class="child-content" [style.height.px]="slideHeight">
                <ion-spinner name="ios" *ngIf="initing"></ion-spinner>
                <!--下拉刷新-->
                <ion-refresher (ionRefresh)="initNoticeList($event)">
                    <ion-refresher-content refreshingText="正在刷新...">
                    </ion-refresher-content>
                </ion-refresher>
                <div class="no-content" *ngIf="!noticeList?.list || noticeList?.list.length == 0">暂无公告</div>
                <ion-list class="card-background-page">
                    <ng-container *ngFor="let data_item of noticeList.list;let i = index">
                        <div class="banner-card" *ngIf="i==0 && !showSearch;else normalListItem">
                            <div class="wrapper" [style.backgroundImage]="'url('+data_item.cover+')'">
                                <div class="title">{{data_item.newsTitle}}</div>
                                <button class="click-to-read" ion-button (click)="viewNews(data_item.newsId)">点击阅读</button>
                            </div>
                        </div>
                        <ng-template #normalListItem>
                            <ion-item class="notify-item" (click)="viewNews(data_item.newsId)" no-lines>
                                <!-- <div class="infos">
                                    <div class="publisher">{{data_item.publisherName}}</div>
                                    <div class="news-title">{{data_item.newsTitle}}</div>
                                    <div class="news-abstract">{{data_item.abstract}}</div>
                                    <div class="news-date">{{data_item.crtDateTime|date:"y年M月d日 H:mm"}}</div>
                                </div> -->
                                <div class="infos">
                                    <div class="title">{{data_item.newsTitle}}</div>
                                    <div class="date">{{data_item.crtDateTime|date:"y年M月d日 H:mm"}}</div>
                                </div>
                            </ion-item>
                        </ng-template>
                    </ng-container>
                </ion-list>
                <!--加载更多-->
                <ion-infinite-scroll #noticeIS [enabled]="noticeList.hasMore" (ionInfinite)="loadMoreNoticeList($event)">
                    <ion-infinite-scroll-content loadingText="正在加载...">
                    </ion-infinite-scroll-content>
                </ion-infinite-scroll>
            </ion-content>
        </ion-slide>
        <ion-slide>
            <ion-content class="child-content" [style.height.px]="slideHeight">
                <ion-spinner name="ios" *ngIf="initing"></ion-spinner>
                <!--下拉刷新-->
                <ion-refresher (ionRefresh)="initNewsList($event)">
                    <ion-refresher-content refreshingText="正在刷新...">
                    </ion-refresher-content>
                </ion-refresher>
                <div class="no-content" *ngIf="!newsList?.list || newsList?.list.length == 0">暂无新闻</div>
                <ion-list class="card-background-page">
                    <ion-item class="big-news-item" *ngFor="let data_item of newsList.list" (click)="viewNews(data_item.newsId)" no-lines>
                        <div class="card-item" [style.backgroundImage]="'url('+serverUrl+data_item.cover+')'">
                            <div class="wrapper">
                                <div class="news-title">{{data_item.newsTitle}}</div>
                                <div class="news-abstract">{{data_item.abstract}}</div>
                                <div class="news-date">{{data_item.crtDateTime|date:"y年M月d日 H:mm"}}</div>
                            </div>
                        </div>
                    </ion-item>
                </ion-list>
                <!--加载更多-->
                <ion-infinite-scroll #noticeIS [enabled]="newsList.hasMore" (ionInfinite)="loadMoreNewsList($event)">
                    <ion-infinite-scroll-content loadingText="正在加载...">
                    </ion-infinite-scroll-content>
                </ion-infinite-scroll>
            </ion-content>
        </ion-slide>
    </ion-slides>
</ion-content>
<!-- </ion-content> -->
<!-- <ion-footer class="foot-placeholder"></ion-footer> -->