page-set-pay-pwd {
	ion-list {
		// margin-top: 1rem !important;
		margin-top: 0 !important;
		margin-bottom: 0 !important;
		ion-item-divider.item-divider {
			min-height: 1rem;
			ion-label {
				// display: none;
				margin: 0;
			}
		}
		ion-item.item-block {
			margin-top: 0.55px; // ion-label {
			// 	color: color($colors, 'special');
			// }
		}
		.with-left-baseline {
			width: 7rem;
		}
	}
	.common-form {
		ion-label.form-label {
			font-size: 1.4rem;
			align-self:  flex-start;
			margin-top: 1.4rem;
		}
		input {
			font-size: 1.4rem;
			&::-webkit-input-placeholder {
				font-size: 1.4rem;
			}
		}
	}
	.radio-list {
		flex-grow: 1;
		.item-radio {
			padding-left: 0;
			background-color: transparent;
			.item-inner {
				flex-direction: row-reverse;
				.label {
					color: rgba(#fff, 0.6) !important;
				}
			}
			&.item-radio-checked {
				.item-inner {
					.label {
						color: #fff !important;
					}
				}
			}
		}
		.radio-icon {
			transform: scale(0.7);
			border-radius: 50%;
			width: 1.6rem;
			height: 1.6rem;
			background-color: transparent;
			border-color: color($colors, 'special');
			border-width: 0.2rem;
			border-style: solid;
			box-sizing: border-box;
			.radio-inner {
				border-color: color($colors, 'special');
				transform: scale(1.2) rotate(45deg);
				top: 0.15rem;
				left: 0.4rem;
				width: 0.4rem;
				height: 0.8rem;
				border-width: 0.2rem;
				border-top-width: 0;
				border-left-width: 0;
				animation: checkbox-inner-ani 0.15s;
			}
			&.radio-checked {
				background-color: rgba(#000, 0.08);
			}
		}
	}
	.submit-wrapper {
		padding: 0.8rem 1.2rem;
		.agree-protocol {
			margin-bottom: 2rem;
			display: flex;
			align-items: center;
			background-color: transparent;
			border: none;
			.item-inner {
				border: none;
			}
			ion-checkbox {
				padding-right: 0.5em;
				background: none;
				border: none;
				font-size: 0.1rem;
				color: #fff;
				transform: scale(0.7);
				.checkbox-icon {
					background-color: transparent;
					border-color: color($colors, 'special');
					border-width: 0.2rem;
					box-sizing: border-box;
					&.checkbox-checked {
						border-color: color($colors, 'special');
						.checkbox-inner {
							border-color: color($colors, 'special');
							transform: scale(1.2) rotate(45deg);
							top: 0.15rem;
							left: 0.45rem;
							width: 0.4rem;
							height: 0.8rem;
							border-width: 0.2rem;
							border-top-width: 0;
							border-left-width: 0;
							animation: checkbox-inner-ani 0.15s;
						}
						@keyframes checkbox-inner-ani {
							from {
								transform: scale(0) rotate(45deg);
							}
							to {
								transform: scale(1.2) rotate(45deg);
							}
						}
					}
				}
			}
			.protocol-label {
				> a {
					color: #3997ee;
				}
			}
		}
	}
}
