page-quotations-v2 {
    
    ion-header {
        background-color: color($colors, background);
        #fixedElement-title {
            background-color: color($colors, background);
            opacity: 0;
            visibility: hidden;
        }
        .title-header {
            position: relative;
            // height: 5.8rem;
            padding: 1.7rem 0;
            font-size: 1.8rem;
            line-height: 1.8rem;
            text-align: center;
            .title {
                margin-right: -6rem;
            }
            .button_self {
                position: absolute;
                right: 0.1rem;
            }
            ion-buttons > button {
                vertical-align: middle;
                height: 1.6rem;
                & > span {
                    font-size: 1.6rem;
                }
            }
        }
        .row {
            position: relative;
        }
        .toolbar-title {
            font-size: 1.7rem;
        }
        .searchbar {
            position: absolute;
            left: 0%;
            bottom: 0%;
            font-size: 1.5rem;
            .searchInput {
                position: relative;
                margin-left: 2.6rem;
                transition: width 2s;
                width: 0;
                .clearInput {
                    position: absolute;
                    right: 1.1rem;
                    top: 0.85rem;
                }
                ion-input {
                    border: 0;
                    height: 3.2rem;
                    width: 100%;
                    border-radius: 1.6rem;
                    background-color: rgba(255, 255, 255, 0.12);
                    padding: 0 0 0 3.2rem;
                    input {
                        margin: 0;
                        line-height: 3.2rem;
                    }
                }
            }
            span {
                display: inline-block;
                width: 4.6rem;
                margin-left: 0.5rem;
                text-align: center;
                // line-height: 3.2rem;
                vertical-align: middle;
            }
        }
        .products {
            margin-top: 0.7rem;
            height: 2.8rem;
            font-size: 1.8rem;
            line-height: 1.8rem;
            text-align: center;
            .product-name {
                padding: 0.4rem 1.6rem;
                border-radius: 1.5rem;
                &.active {
                    // background-color: #212231; 
                }
            }
            .product-price {
                display: inline-block;
                width: 100%;
                margin: 1.5rem 0 1.8rem;
                height: 1.6rem;
                font-size: 1.6rem;
                line-height: 1.6rem;
                white-space: nowrap;
                text-align: center;
                .symbol {
                    color: color($colors, middark);
                }
            }
        }
        // .prices {
        //     margin: 1.5rem 0 1.8rem;
        //     height: 1.6rem;
        //     font-size: 1.6rem;
        //     line-height: 1.6rem;
        //     white-space: nowrap;
        //     text-align: center;
        //     .symbol{
        //         color: color($colors,middark);
        //     }
        // }
        .news-slides {
            height: 18rem!important; 
            width: 100%;
            img,.slide-zoom {
                width: 100%!important;
                height: 100%!important;
            }
            .swiper-pagination-bullet-active {
                background-color: #fff;
            }
        }
        .notice-box {
            height: 3rem; 
            background-color: transparent;
            span {
                padding: 0 0.62rem 0 1.4rem;
                color: color($colors, special);
                line-height: 3rem;
                font-size: 1.8rem;
            }
            .notice-slides {
                display: inline-block;
                color: #fff;
                width: calc(100% - 4.2rem);
                .slide-zoom {
                    text-align: left!important;
                    font-size: 1.4rem;
                    position: relative;
                    top: -0.2rem;
                    div {
                        overflow: hidden;
                        white-space: nowrap;
                        text-overflow:ellipsis;
                    }
                }
            }
        }
        #fixedElement {
            background-color: color($colors, background);
            position: relative;
            z-index: 1000;
            top: 0;
            border-bottom: 0.1rem solid color($colors, special);
        }
        .title-header {
            position: relative;
            // height: 5.8rem;
            padding: 1.7rem 0;
            font-size: 1.8rem;
            line-height: 1.8rem;
            text-align: center;
            .title {
                margin-right: -6rem;
            }
            .button_self {
                position: absolute;
                right: 0.1rem;
            }
            ion-buttons > button {
                vertical-align: middle;
                height: 1.6rem;
                & > span {
                    font-size: 1.6rem;
                }
            }
        } 
        .products {
            margin-top: 0.7rem;
            height: 2.8rem;
            font-size: 1.8rem;
            line-height: 1.8rem;
            text-align: center;
            padding-bottom: 0.4rem;
            .item-product {
                
                position: relative;
               
            }
            .product-name {
                padding: 0.4rem 1.6rem;
                border-radius: 1.5rem;
                font-weight: 400!important;
                font-size: 1.6rem;
                color: color($colors, middark);
                &.active {
                    color: color($colors, special);
                    font-weight: 500!important;
                    font-size: 1.8rem;
                    &::before {
                        display:block;
                        content:'';
                        border-width: 8px 8px 8px 8px;
                        border-style:solid;
                        border-color:transparent transparent color($colors, special) transparent;
                        
                        /* 定位 */
                        position:absolute;
                        left:50%;
                        transform: translateX(-50%);
                        bottom:-0.4rem;
                    }
                }
            }
            .product-price {
                display: inline-block;
                width: 100%;
                margin: 1.5rem 0 1.8rem;
                height: 1.6rem;
                font-size: 1.6rem;
                line-height: 1.6rem;
                white-space: nowrap;
                text-align: center;
                .symbol {
                    color: color($colors, middark);
                }
            }
        } 
    }  
    ion-content {
        background-color: color($colors, background);
        .news-slides {
            height: 22rem!important;
            width: 100%;
            img,.slide-zoom {
                width: 100%!important;
                height: 100%!important;
            }
            .swiper-pagination-bullet-active {
                background-color: #fff;
            }
        }
        .notice-box {
            height: 3rem; 
            background-color: #212231!important;
            span {
                padding: 0 0.62rem 0 1.4rem;
                color: color($colors, rise);
                line-height: 3rem;
                font-size: 1.8rem;
            }
            .notice-slides {
                display: inline-block;
                color: #fff;
                width: calc(100% - 4.2rem);
                .slide-zoom {
                    text-align: left!important;
                    font-size: 1.4rem;
                    position: relative;
                    top: -0.2rem;
                    div {
                        overflow: hidden;
                        white-space: nowrap;
                        text-overflow:ellipsis;
                    }
                }
            }
        }
        #fixedElement {
            background-color: color($colors, background);
            position: relative;
            z-index: 1000;
            top: 0;
            border-bottom: 0.1rem solid color($colors, rise);
        }
        .title-header {
            position: relative;
            // height: 5.8rem;
            padding: 1.7rem 0;
            font-size: 1.8rem;
            line-height: 1.8rem;
            text-align: center;
            .title {
                margin-right: -6rem;
            }
            .button_self {
                position: absolute;
                right: 0.1rem;
            }
            ion-buttons > button {
                vertical-align: middle;
                height: 1.6rem;
                & > span {
                    font-size: 1.6rem;
                }
            }
        }
        .row {
            position: relative;
        }
        .toolbar-title {
            font-size: 1.7rem;
        }
        .searchbar {
            position: absolute;
            left: 0%;
            bottom: 0%;
            font-size: 1.5rem;
            .searchInput {
                position: relative;
                margin-left: 2.6rem;
                transition: width 2s;
                width: 0;
                .clearInput {
                    position: absolute;
                    right: 1.1rem;
                    top: 0.85rem;
                }
                ion-input {
                    border: 0;
                    height: 3.2rem;
                    width: 100%;
                    border-radius: 1.6rem;
                    background-color: rgba(255, 255, 255, 0.12);
                    padding: 0 0 0 3.2rem;
                    input {
                        margin: 0;
                        line-height: 3.2rem;
                    }
                }
            }
            span {
                display: inline-block;
                width: 4.6rem;
                margin-left: 0.5rem;
                text-align: center;
                // line-height: 3.2rem;
                vertical-align: middle;
            }
        }
        .products {
            margin-top: 0.7rem;
            height: 2.8rem;
            font-size: 1.8rem;
            line-height: 1.8rem;
            text-align: center;
            padding-bottom: 0.4rem;
            .item-product {
                
                position: relative;
               
            }
            .product-name {
                padding: 0.4rem 1.6rem;
                border-radius: 1.5rem;
                font-weight: 100!important;
                font-size: 1.6rem;
                color: color($colors, middark);
                &.active {
                    color: color($colors, rise);
                    font-weight: 500!important;
                    font-size: 1.8rem;
                    &::before {
                        display:block;
                        content:'';
                        border-width: 10px 10px 10px 10px;
                        border-style:solid;
                        border-color:transparent transparent color($colors, rise) transparent;
                        
                        /* 定位 */
                        position:absolute;
                        left:50%;
                        transform: translateX(-50%);
                        bottom:-0.4rem;
                    }
                }
            }
            .product-price {
                display: inline-block;
                width: 100%;
                margin: 1.5rem 0 1.8rem;
                height: 1.6rem;
                font-size: 1.6rem;
                line-height: 1.6rem;
                white-space: nowrap;
                text-align: center;
                .symbol {
                    color: color($colors, middark);
                }
            }
        }
       
        .disable {
            background-color: #bec3c7 !important;  
            color: white !important;
        }
        background-color: color($colors, background-darker) !important;
        .qhd {
            position: relative;
            height: 11rem;
            .qcont {
                position: absolute;
                height: 12rem !important;
                width: 100%;
                top: 0;
                pointer-events: none;
                .slides {
                    margin-top: 1.8rem;
                    margin-left: 0.8rem;
                }
            }
            .echarts-placeholder {
                height: 12rem;
                // background:#0d7593;
            }
        }
        .quotcont {
            height: 12rem;
            padding: 1rem;
            .echarts-placeholder,
            .slideselem {
                height: 10rem;
            }
            .slide-zoom {
                margin-top: 0.8rem;
                text-align: center;
            }
            .title {
                // width:13rem;
                float: left;
                padding: 0.5rem 0 0 0.8rem;
                span {
                    display: block;
                }
                label {
                    color: color($colors, lightdark);
                }
                h6 {
                    color: color($colors, special);
                    margin: 0;
                }
            }
            .slides {
                width: 12rem;
                float: left;
                text-align: center;
                padding: 1.5rem 1.8rem 0 1.8rem;
                h3,
                h6 {
                    margin: 0;
                }
            }
            .slideselem {
                overflow: hidden;
            }
        }
    }
    .no-content {
        text-align: center;
        font-size: 1.6rem; 
        padding-top: 2rem;
        color: color($colors, middark); 
    }
    .trader-item {
        margin-bottom: 1px;
        // & + .trader-item {
        //     margin-top: 1px;
        // }
        .header {
            padding-top: 1.2rem;
            display: flex;
            background-color: #212231;
            & > * {
                flex: 1;
                overflow: hidden;
                white-space: nowrap;
                text-overflow: ellipsis;
                padding-left: 2.2rem;
                height: 2.4rem;
                line-height: 2.4rem;
                // div{
                //     width:100%;
                // }
                // display: inline-block;
                // width: 33%;
            }
            .name,
            .price {
                font-size: 1.8rem;
            }
            .price {
                font-weight: 500; 
            }
            .name {
                .product-name {
                    font-weight: 500; 
                }
                .price-name {
                    font-size: 1.4rem;
                    font-weight: 400; 
                }
            }
            .range {
                position: relative;
                top: 2rem;
                
            }
            .range .box {
                display: inline-block;
                text-align: center;
                width: 8.6rem;
                height: 2.4rem;
                line-height: 2.4rem;
                border-radius: 0.2rem;
                background-color: #262739;
                z-index: 10;
                &.disable {
                    background-color: #bec3c7 !important;  
                    color: white !important;
                }
                &.bg-color-rise {
                    background-color: color($colors, rise);
                } 
                &.bg-color-fall {
                    background-color: color($colors, fall);
                }
                &.bg-true-color-rise {
                    background-color: color($colors, rise-true);
                }
                &.bg-true-color-fall {
                    background-color: color($colors, fall-true);
                }
            }
        }
        .body {
            height: 5.8rem;
            background-color: #212231;
            display: flex;
            align-items: center;
            & > * {
                flex: 1;
                overflow: hidden;
                padding-left: 2.2rem;
                .key,
                .value {
                    font-size: 1.2rem;
                    line-height: 1.2rem;
                }
                .key {
                    display: inline-block;
                    min-width: 1.2rem;
                    text-align: center;
                    color: color($colors, middark);
                }
                .value {
                    overflow: hidden;
                    white-space: nowrap;
                    text-overflow: ellipsis;
                }
                .market {
                    white-space: nowrap;
                }
                div + div {
                    margin-top: 1.1rem;
                }
                .echarts-placeholder {
                    height: 5.8rem;
                    // background:#0d7593;
                }
            }
        }
    }
}
