<ion-header></ion-header>
<ion-content>
  <div class="dialog-wrapper">
    <button class="close-button" (click)="closeDialog()">
      <!-- <ali-icon name="ifm-guanbi"></ali-icon> -->
    </button>
    <div class="dialog-content">
      <div class="header">
        <div class="title">
          <div>发现新版本</div> <span>NEW<span class="picasso-icon-two-up-arrow"></span></span>
        </div>
        <div class="content">
          V 2.0.2
        </div>
      </div>
      <div class="content">
        <!-- <div class="item">
          <div class="label">{{'NEWEST_VERSION'|translate}}：</div>
          <div class="text">V{{version_info?.version}}</div>
        </div>
        <div class="item">
          <div class="label">{{'VERSION_SIZE'|translate}}：</div>
          <div class="text">{{(isIOS?version_info?.plist_size :version_info?.apk_size)}}</div>
        </div> -->
        <div class="item changelogs">
          <!-- <div class="label">更新内容：</div> -->
          <ol class="detail">
            <li class="line" *ngFor="let line of changelogs">
              {{line}}
            </li>
          </ol>
        </div>
      </div>
      <div class="progress-bar" *ngIf="isDownloading">
        <div class="bar" [attr.style]="download_progress"></div><div class="bar-txt">{{download_bar_txt}}%</div>
      </div>
      <div class="buttons">
        <!-- <button class="button cancel" (click)="closeDialog()">
          {{'CANCEL'|translate}}
        </button> -->
        <button *ngIf="!isDownloading" class="button ok" (click)="androidUpadate()">
          立即更新
        </button>
        <button *ngIf="isDownloading" class="button downloading" (click)="backgroundDownload()">
          正在更新 ······
        </button>
        <!-- <button *ngIf="isIOS" class="button ok" (click)="iosUpdatge()">
          {{'GO_DOWNLOAD'|translate}}
        </button> -->
      </div>
    </div>
  </div>
</ion-content>
