page-submit-real-info {
    ion-header {
        background-color: #242435;
    }
    ion-content {
        background: #2a2b3f;
    }
    .schedule {
        display: flex;
        justify-content: space-around;
        align-items: center;
        width: 100%;
        height: 20vh;
        padding: 1.2rem;
        .schedule-spot {
            font-size: 1.6rem;
        }
        .img {
            width: 4.2rem;
            height: 4.2rem;
            margin: auto;
            line-height: 4.2rem;
            border-radius: 50%;
            border: 2px solid  color($colors, "special");
            text-align: center;

        }
        .txt {
            text-align: center;
            font-size: 1.4rem;
            &.hide-txt {
                color: transparent;
            }
        }
    }
    .toolbar-title {
        font-weight: 400 !important;
    }
    form {
        margin: 1rem 0 !important;
        .label {
            color: #fff !important;
            min-width: 7rem;
        }
        .form-item-img {
            width: 70%;
            margin: 0 auto;
            .img-picker {
                height: 14rem !important;
                margin-bottom: 2rem !important;
            }
            .in-box-add {
                display: block !important;
                div {
                    position: absolute;
                    z-index: 666;
                    color: #444451;
                    font-size: 7.4rem !important;
                    text-align: center;
                    width: 100%;
                    height: 100%;
                    top: 0;
                    left: 0;
                    line-height: 14rem;
                    z-index: 5;
                }
                span {
                    font-size: 4rem !important;
                    font-weight: 200;
                    text-align: center;
                    display: inline-block;
                    width: 100%;
                    height: 100%;
                    position: absolute;
                    top: 0;
                    left: 0;
                    line-height: 14rem;
                    z-index: 10;
                }
                .title-en {
                    font-size: 3.8rem !important;
                }
            }
        }
        .select-icon .select-icon-inner {
            color: #fff !important;
        }
    }
}
